@font-face {
    font-family: 'cabinregular';
    src: url('cabin-regular-webfont.woff2') format('woff2'),
         url('cabin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futurakoyu';
    src: url('futura-koyu-webfont.woff2') format('woff2'),
         url('futura-koyu-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futura_oblique';
    src: url('futura-oblique-webfont.woff2') format('woff2'),
         url('futura-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'josefin_slabsemibold';
    src: url('josefin-slab-semi-bold-webfont.woff2') format('woff2'),
         url('josefin-slab-semi-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
    font-family: "futurakoyu" !important;
}

h2 {
    font-family: "futura_oblique" !important;
}

h3 {
    font-family: "josefin_slabsemibold" !important;
}

p, body, div {
    font-family: "cabinregular" !important;
}