html, body {
  height: 100%;
}

h1, h2, h3 {
    margin-top: 10px !important;
}

.header {
	width: 100%;
	padding: 0 15px;
	margin: 0 !important;
    -webkit-box-shadow: 0px 9px 12px 0px rgba(232,232,232,0.92);
    -moz-box-shadow: 0px 9px 12px 0px rgba(232,232,232,0.92);
    box-shadow: 0px 9px 12px 0px rgba(232,232,232,0.92);
    position: fixed;
    background-color: #ffffff;
    z-index: 3;
}

.home-header {
	width: 100%;
	padding: 0 15px;
	margin: 0 !important;
    -webkit-box-shadow: 0px 8px 6px 0px rgba(207,207,207,0.68);
    -moz-box-shadow: 0px 8px 6px 0px rgba(207,207,207,0.68);
    box-shadow: 0px 8px 6px 0px rgb(195, 195, 195);
    position: fixed;
    background-color: #ffffff;
    z-index: 3;
}

.footer {
	width: 100%;
	padding: 0 15px;
	margin: 0 !important;
	-webkit-box-shadow: 0px -5px 10px -1px rgba(230,227,230,1);
    -moz-box-shadow: 0px -5px 10px -1px rgba(230,227,230,1);
    box-shadow: 0px -5px 10px -1px rgba(230,227,230,1);
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 2;
}

.home-footer {
	font-size: 10px;
    color: #3f3f3f;
    padding-top: 10px;
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    -webkit-box-shadow: 0px -5px 10px -1px rgba(230,227,230,1);
    -moz-box-shadow: 0px -5px 10px -1px rgba(230,227,230,1);
    box-shadow: 0px -5px 10px -1px rgba(230,227,230,1);
}

.mainTitle {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-top-70 {
    padding-top: 70px;
}

.padding-top-90 {
    padding-top: 90px;
}

.padding-top-100 {
    padding-top: 100px;
}

.padding-top-150 {
    padding-top: 150px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-left-25 {
    padding-left: 25px !important;
}

.home-text {
    font-size: 28px;
}

.home-text-padding {
    padding-top: 24px;
}

#chapter-text {
    font-size: 24px;
}

#chapter-text-completed {
    font-size: 24px;
}

h2#chapter-text:hover {
    color: #000000;
    text-decoration: underline;
    -moz-text-decoration-color: #000000; /* Code for Firefox */
    text-decoration-color: #000000;
}

h2#chapter-text-completed:hover {
    color: #ffffff;
    text-decoration: underline;
    -moz-text-decoration-color: #ffffff; /* Code for Firefox */
    text-decoration-color: #ffffff;
}

#btn-discover {
    background-color: #9E005D;
	border-color: #9E005D;
}

#btn-home {
	background-color: #000000;
	border-color: #000000;
}

#btn-add-note {
	background-color: #000000;
	border-color: #000000;
    width: 80%;
    margin-left: 20%;
}

#btn-notes {
	background-color: #000000;
	border-color: #000000;
}

#btn-learn {
	background-color: #CF0A2C;
	border-color: #CF0A2C;	
}

#btn-canvas, #btn-submit {
	background-color: #3CA2FF;
	border-color: #3CA2FF;
    color: #ffffff;
}

#btn-back, #btn-login-form, #btn-close {
	background-color: #F43900;
	border-color: #F43900;
    color: #ffffff;
}

#btn-go, #btn-signup {
	background-color: #B8F629;
	border-color: #B8F629;
}

#btn-login, #btn-delete-1 {
	border-color: #000000;
    background-color: #ffffff;
}

#btn-about {
	color: #000000;
	border-color: #FFFFFF;
}

#btn-edit {
    background-color: #F43900;
	border-color: #F43900;
    width: 80%;
}

#btn-hash {
    background-color: #F43900;
	border-color: #F43900;
    color: #ffffff;
    margin-top: 10px;
}

#btn-pw-modal {
    background-color: #ffffff;
	border-color: #000000;
    color: #000000;
    margin: 10px 0 0 10px;
}

#btn-delete-2 {
	background-color: #000000;
	border-color: #000000;
    color: #ffffff;
}

#btn-share {
	background-color: #000000;
	border-color: #000000;
    color: #ffffff;
    width: 135%;
}


/*Radio buttons*/
#btn-radio {
    background-color: #ffffff;
	border-color: #B5B5B5;
    color: #000000;
}

#btn-radio-small {
    background-color: #ffffff;
	border-color: #B5B5B5;
    color: #000000;
    font-size: small;
    text-align: left;
    padding-left: 5px;
    text-align: center;
}

#btn-radio-small.active {
    background-color: #3ca2ff !important;
    border-color: #3ca2ff !important;
    color: #ffffff;
}

#btn-radio.active, #btn-radio:active {
    background-color: #3CA2FF !important;
    border-color: #3CA2FF !important;
    color: #ffffff !important;
    -webkit-box-shadow: inset 0 3px 5px #19d3ff !important;
}
/**/

#picture {
	height: 4.6em;
	width: 61%;
	padding-top: 15px;
	color: #999999;
}

.radio-margin {
	margin-top: 25px;
}

.radio-description {
	padding-top: 20px !important;
    font-size: 16px;
    text-align: justify;
}

.radio-title {
	padding-top: 30px !important;
    font-size: 15px;
}

.box-margin {
    margin: 0 20px 20px 0 !important;
}

.box-shadow {
    -webkit-box-shadow: -1px 0px 14px 8px rgba(230,225,230,1);
    -moz-box-shadow: -1px 0px 14px 8px rgba(230,225,230,1);
    box-shadow: -1px 0px 14px 8px rgba(230,225,230,1);
    border: 1px solid #c5c5c5;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-bottom-75 {
    margin-bottom: 75px;
}

.margin-bottom-100 {
margin-bottom: 100px;
}

.profile-image {
    border-radius:50%;
    margin-top: 13px;
    height: 90px;
    width: 90px;
}

.Problem-Solution-divs, .Product-Service-divs {
    background-color: #9E005D !important;
}

.Mission-Vision-divs {
    background-color: #CF0A2C !important;
}

.Communication-divs {
    background-color: #FFF427 !important;
}

.Finances-divs {
    background-color: #3CA2FF !important;
}

.Leadership-divs {
    background-color: #F43900 !important;
}

.Execution-divs {
    background-color: #004C4A !important;
}

.Target-Group-divs, .Community-Market-divs, .pb-complete {
    background-color: #B8F629 !important;
}

.progress-margin-bottom {
    margin-bottom: 0px !important;
}

.second-row-height {
    height: 340px;
    min-height: 340px;
    max-height: 340px;
}

.progress-bar-vertical {
    width: 65px;
    min-height: 228px;
    display: flex;
    align-items: flex-end;
    margin-right: 20px;
    float: left;
}

.progress-bar-vertical .progress-bar {
    width: 100%;
    height: 0;
    -webkit-transition: height 0.6s ease;
    -o-transition: height 0.6s ease;
    transition: height 0.6s ease;
}

.progress-learn {
    margin: 0 0.6%;
    height: 30px !important;
}

#learn-overall-progress {
  margin-top: 5px;
  font-weight: bold;
  font-size: medium;
}

.soc-net {
    color: black;
    padding-top: 6px;
    font: normal normal normal 14px/3 FontAwesome !important;
    font-size: 19px !important;
}

.canvas {
    background-size: 94% 100% !important;
    background: url('../media/img/blank_canvas.png') no-repeat;
    height: 200px;
    margin: 6% 0 0 3%;
}

.canvas-completion {
    background-color: #9E005D;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 11% 0 0 31%;
}

.canvas-question {
    border:none;
    background-color: #ffffff;
    height: 100%
}

.text-completion {
    color: #ffffff;
    padding-top: 19px;
}

#canvas-span {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}


/* NOTIFICATIONS */

.dash-idea-notify {
    min-height: 223px;
    max-height: 223px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.notifications-list {
    padding: 4px 0 0 30px;
}

.notifications-list-canvas {
    padding: 4px 15px 0 35px;
}

#notifications-nav {
    /*margin-bottom: 9px;*/
    font-size: 22px;
    width: 99%;
}

.tab-content {
    margin-right: -2px;
}

.notifications-box-border {
    border: 1px solid #c5c5c5;
    border-top: none;
    border-right: none;
    -webkit-box-shadow: -1px 10px 23px 9px rgba(230,225,230,0.78);
    -moz-box-shadow: -1px 10px 23px 9px rgba(230,225,230,0.78);
    box-shadow: -1px 10px 23px 9px rgba(230,225,230,0.78);
}

.notifications-canvas-box-border {
    border: 1px solid #c5c5c5;
}

.notify-tabs {
    width: 50%;
    text-align: center;
}

#notify-title {
    margin-top: 0 !important;
    padding: 5px;
}

#notify-canvas-title {
    margin: 20px 0 10px 0;
    font-size: 20px;
    font-weight: bold;
    background-color: #3CA2FF;
	border-color: #3CA2FF;
    color: #ffffff;
}

.notify-canvas-subtitle {
    font-size: 24px;
    /*font-weight: bold;*/
}

.bottom-border {
    border-bottom: 1px solid #c5c5c5;
    padding: 0 0 5px 0;
}

#exTab2 {
    padding: 0;
}

#exTab2 h3 {
    color : white;
    background-color: white;
}

#exTab1 .nav-pills > li > a {
    border-radius: 0;
}

.pw-modal {
    padding: 0 15px;
}

.modal.in {
   display:block;
}

.error-message {
    font-size: 20px;
    margin-top: 12px;
}

.user-title {
    margin-top: 5px !important;
    font-weight: bold !important;
}

/* Search page */

.search-box {
    border-radius: 15px;
    margin: 0 4% 3% 4%;
}

.search-image {
    border-radius:50%;
    margin: 10px 0;
    height: 90px;
    width: 90px;
}

.soc-net-search {
    color: black;
    font: normal normal normal 19px FontAwesome !important;
}

.search-name {
    margin: 10px 0 5px 0;
    font-size: 19px;
    font-weight: bold;
}

/* Share page */

.user-title-share {
    margin: 10px 0 !important;
    font-weight: bold !important;
}

/* Form */
.about-font {
    font-size: 16px;
    text-align: justify;
}

.about-font-disclaimer {
    font-size: 15px;
    text-align: justify;
}

#about-title {
    font-size: 30px;
    font-weight: bold;
}

/* Form */
.form {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 300px;
    margin: 40px auto 70px;
    padding: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
}
.form .thumbnail {
    background: #f2f2f2;
    width: 150px;
    height: 150px;
    margin: 0 auto 30px;
    padding: 15px 14px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    box-sizing: border-box;
}
.form .thumbnail img {
  display: block;
  width: 100%;
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  outline: 0;
  background: #EF3B3A;
  width: 100%;
  border: 0;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 13px;
}
.form .message a {
  color: #F43900;
  text-decoration: none;
}

.note-divs{
    margin: 1.6%;
    border: 3px solid gainsboro;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height:185px;
    border-bottom: 3px solid #CF0A2C;
}

.note-txt{
    font-size: medium;
}

.note-tag{
    border: 2px solid #FFF427;
    border-radius: 5%;
    line-height: inherit;
    text-align: center;
}

#note-span{
    font-style: italic;
    margin-top: 90px;
}

.note-divs a{
    color: inherit;
}

.note-title {
    font-size: 24px;
    color: #000000;
}

.note-title:hover {
    color: #000000;
    text-decoration: underline;
    -moz-text-decoration-color: #000000; /* Code for Firefox */
    text-decoration-color: #000000;
}

.margin-top-10{
    margin-top: 10px;
}


.img-size-chapter{
    width:150px;
    height:150px;
}

.chapter-divs {
    margin: 1.6%;
    border: 3px solid gainsboro;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.progress-chapter {
    display: none;
    margin: 1.6%;
    border: 3px solid gainsboro;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 175.64px;
}

.progress-number {
    font-size: 24px;
    margin-top: 60px;
    font-weight: bold;
}

.center{
    text-align: center;
}

.margin-top{
    margin-top: 100px;
}

.chapter-offset{
    margin-left: 10px;
    margin-right: 10px;
}

.leadership-divs{
    margin-bottom: 10px;
    margin-top: 10px;
    height: 180px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-width: 4px;
    border-bottom-color: #F43900;
}

.mission-vision-divs{
    margin-bottom: 10px;
    margin-top: 10px;
    height:200px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-width: 4px;
    border-bottom-color: #CF0A2C;
}

.execution-divs{
    margin-bottom: 10px;
    margin-top: 10px;
    height:200px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-width: 4px;
    border-bottom-color: #004c4a;
}

.community-market-divs{
    margin-bottom: 10px;
    margin-top: 10px;
    height:200px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-width: 4px;
    border-bottom-color: #B8F629;
}

.target-group-divs{
    margin-bottom: 10px;
    margin-top: 10px;
    height:200px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-width: 4px;
    border-bottom-color: #B8F629;
}

.communication-divs{
    margin-bottom: 10px;
    margin-top: 10px;
    height: 185px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-width: 4px;
    border-bottom-color: #FFF427;
}

.finances-divs{
    margin-bottom: 10px;
    margin-top: 10px;
    height:200px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-width: 4px;
    border-bottom-color: #3CA2FF;
}

.product-service-divs{
    margin-bottom: 10px;
    margin-top: 10px;
    height:200px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-width: 4px;
    border-bottom-color: #9E005D;
}

.problem-solution-divs{
    margin-bottom: 10px;
    margin-top: 10px;
    height:200px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-color: #9E005D;
    border-bottom-width: 4px;
}

.row-chapter {
    margin: 1.6%;
    padding-top: 3%;
}

.hyphens {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.chapter-up-left {
    padding: 0 !important;
    margin: 1.6%;
}

.chapter-up-left-image {
    height: 195px;
}

.chapter-up-right {
    min-height: 195px;
    max-height: 195px;
    height: 195px;
    text-align: center;
    margin: 1.6% 1.6% 1.6% 1.5%;
}

.chapter-up-middle {
    min-height: 195px;
    max-height: 195px;
    height: 195px;
    padding: 10px;
    margin: 1.6%;
    width: 56.5% !important;
}

.chapter-percent {
    font-size: 40px;
    margin-top: 40%;
}

#margin-top-0{
    margin-top: 0px;
}

.content-text{
    text-align: justify;
    font-size: 150%;
}

.leadership-divs a{
    color: inherit;
}

.communication-divs a{
    color: inherit;
}

.community-market-divs a {
    color: inherit;
}

.target-group-divs a {
    color: inherit;
}

.finances-divs a {
    color: inherit;
}
.mission-vision-divs a {
    color: inherit;
}

.product-service-divs a {
    color: inherit;
}

.problem-solution-divs a {
    color: inherit;
}

.execution-divs a {
   color: inherit;
}

.completion-div {
    margin-bottom: 5%;
    border: 3px solid gainsboro;
    text-align: center;
}

.completion-div-text {
    text-align: left;
    font-size: 26px;
}

input[type=checkbox] {
    zoom:1.3;
}

.canvas-title {
    font-size: large;
    font-weight:bold;
    border-bottom: 1px solid;
    padding-left: 5px;
    margin-bottom: 5px;
}

.canvas-title:hover {
    color: #000000;
    text-decoration: underline;
    -moz-text-decoration-color: #000000; /* Code for Firefox */
    text-decoration-color: #000000;
}


.canvas-container{
    margin-left: -50px;
    margin-right: 10px;
    height: 90%;
}

.canvas-share-container{
    height: 100%;
}

.canvas-row{
    border: 10px solid black;
    border-bottom-width: 5px;
    margin-top:2%;
    height: 60%;
}

.no-padding{
   padding: 0 !important;
   margin: 0 !important;
}

.a-color{
    color:inherit;
}

.a-color:hover {
    color: #000000;
    text-decoration: underline;
    -moz-text-decoration-color: #000000; /* Code for Firefox */
    text-decoration-color: #000000;
}

.bottom-row{
    margin-right: 10px;
    margin-left: 10px;
    border-style:solid;
    border-color: black;
    border-width: 10px;
    border-top: none;
    height: 30%;
}

.side-borders{
    border: 2px none black;
    border-right-style: solid;
    border-left-style: solid;
    padding-left: 0px;
    padding-right: 0px;
}

.answer{
    word-break: break-all;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dashed ;
    font-size: small;
    padding-top: 3px;
    margin-bottom: 2px;
   /* white-space: normal;*/
}

.problem{
    height: 100%;

}

.canvas-wrapper-1{
      height: 100%;
}
.solution{
    height: 40%;
}

.key-indicators{
    height: 60%;

}

.unique{
    height: 100%;

}

.target-group{
    height: 100%;

}

.canvas-wrapper-2{
      height: 100%;
}

.unfair{
    height: 30%;

}

.channels{
    height: 70%;
    border-top: black;
}

.cost{
    height: 100%;
}

.funding{
    height: 100%;
}

.border-top{
    border-top-style:solid;
    border-top-color: black;
    border-top-width: 2px;

}

.lesson-summary{
    text-align: justify;
    font-size: medium;
}

.resources{
    font-size: medium;
    margin-bottom: 10px;
}

.resource-container{
    border: 3px solid gainsboro;
    padding-top: 10px;
    padding-bottom: 10px;
    height:200px;
}

.btn-blue{
    color: #00b3ff;
}

/*Zbog ovoga je zeznuta poyadina na dugmadima. Ako ti ovo treba napravi neki random klasu umjesto btn-primary pa ubaci
umjesto nje*/

/*.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {*/
    /*background-color: #3CA2FF !important;*/
	/*border-color: #3CA2FF !important;*/
    /*text-align: left !important;*/
/*}*/

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
    background-color: #B8F629 !important;
	border-color: #B8F629 !important;
}

.margin-left-15{
    margin-left: 15px;
}

.margin-bottom-10{
    margin-bottom: 10px;
}

.font-size-small{
    font-size: x-small;
}

.offset-left{
    margin-left: 8.3%;
}

.problem-div{
    margin: 1.6%;
    border: 3px solid gainsboro;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height:185px;
    border-bottom: 3px solid #CF0A2C;
}

.solution-div{
    margin: 1.6%;
    border: 3px solid gainsboro;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height:185px;
    border-bottom: 3px solid #9E005D;
}



.target-group-div{
    margin: 1.6%;
    border: 3px solid gainsboro;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height:185px;
    border-bottom: 3px solid #FFF427;
}
#3CA2FF#F43900#004C4A#B8F629
.project-goal-s-div{
    margin: 1.6%;
    border: 3px solid gainsboro;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height:185px;
    border-bottom: 3px solid #3CA2FF;
}
.channels-div{
        margin: 1.6%;
    border: 3px solid gainsboro;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height:185px;
    border-bottom: 3px solid #F43900;
}
.unfair-advantage-div{
        margin: 1.6%;
    border: 3px solid gainsboro;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height:185px;
    border-bottom: 3px solid #004C4A;
}
.means-of-funding-div{
    margin: 1.6%;
    border: 3px solid gainsboro;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height:185px;
    border-bottom: 3px solid #B8F629;
}
.cost-structure-div{
    margin: 1.6%;
    border: 3px solid gainsboro;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height:185px;
    border-bottom: 3px solid #383838;
}
.key-indicators-div{
    margin: 1.6%;
    border: 3px solid gainsboro;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height:185px;
    border-bottom: 3px solid #B5B5B5;
}

.text-center{
    text-align: center;
}

.chapter-description{
    text-align: justify;
    font-size: medium;
}

p.help-main-title {
    font-size: 28px;
    font-weight: bold;
    margin: 15px 0;
}
p.help-title {
    font-size: 18px;
    margin-top: 10px;
}
p.help-description {
    font-size: 15px;
    font-style: italic;
    margin-top: 15px;
    text-align: justify;
}