<!DOCTYPE html>
<html>
<head>
	<title>About | Add+Venture</title>

    {% load staticfiles %}

	<!-- JS -->
	<script type="text/javascript" src="{% static "js/jquery-2.2.4.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static "fonts/fonts.css" %}" charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
</head>


<body>
	<!-- HEADER -->
    <header>
        <div class="row home-header">
            <div class="col-md-1 padding-top-20 padding-bottom-20">
                <a class="btn btn-danger btn-block" id="btn-home" href="{% url 'home' %}" role="button">Home</a>
            </div>
            <div class="col-md-8 padding-top-20 padding-bottom-20"></div>
            <div class="col-md-1 padding-top-20 padding-bottom-20">
                <a class="btn btn-block" id="btn-about" href="{% url 'about' %}" role="button"><b>About</b></a>
            </div>
            <div class="col-md-1 padding-top-20 padding-bottom-20">
                <a class="btn btn-default btn-block" id="btn-login" href="{% url 'login' %}" role="button"><b>Log in</b></a>
            </div>
            <div class="col-md-1 padding-top-20 padding-bottom-20">
                <a class="btn btn-danger btn-block" id="btn-signup" href="{% url 'registration' %}" role="button"><b>Sign up</b></a>
            </div>
        </div>
    </header>

	<!-- BODY -->
	<div class="container">

        <div class="row padding-top-100">

            <p id="about-title">About Add+venture</p><br>

            <p class="about-font">Add+venture is a “learning by doing” online web tool that enables youths and all aspiring
                entrepreneurs to develop their ideas whether those are for-profit or nonprofit, an entirely new
                business, or project initiative! The Add+venture platform offer spaces, tools and various paths
                to successfully shape your idea, using the Canvas methodology. One of the core ideas behind
                this platform is a business methodology that envisions mission-driven ventures, which means that both
                nonprofit and for-profit ventures with social impact can apply the same methodology.
            </p><br>

            <p class="about-font">These is the reason why Add+venture boasts impressive features:
                <ul class="about-font">
                    <li>You can complete your Add+venture journey all by yourself – no need to consult or wait
                        for anyone else! You can start realizing your idea today!
                    </li>
                    <li>Even if your learning habits do not fit a linear mindset – you are welcome, too!
                        Add+venture’s logic is to guide you to fields that you have not addressed, rather than
                        making you lose time and patience on business or project management areas that you
                        are already familiar with. However, you can always visit them and make sure you are an
                        A student there, too!
                    </li>
                    <li>Add+venture boasts incredible range of potential users – from one-off initiatives to
                        entirely new businesses, or simply use it to test the Canvas credibility of your idea.
                    </li>
                </ul>
            </p><br>

            <p class="about-font">Our goal is to encourage young people to take action and make their first steps in realizing their
                        ideas, both big and small. By providing the Canvas-based platform we aim to offer resources
                        and a community-building environment, to stir every sleeping nonprofit initiative and business!
            </p><br>

            <h4><strong>Disclaimer</strong></h4><br>

            <p class="about-font-disclaimer">The project is funded by the European Commission. The content of this platform reflects the
                    views only of the author-Impact Hub Belgrade. National Agency and the European Commission
                    are not responsible for any use of the information provided on the platform.
            </p><br>

            <p class="about-font-disclaimer"> The information presented is:
                <ul class="about-font-disclaimer">
                    <li>of a general nature only and is not intended to address the specific circumstances
                        of any particular individual or entity;
                    </li>
                    <li>mostly linked to external sites over which the Impact Hub Belgrade has no control
                        and for which Impact Hub Belgrade assumes no responsibility;
                    </li>
                    <li>not professional or legal advice.
                    </li>
                </ul>
            </p><br>
        </div>

        <div class="row margin-bottom-75">
            <div class="col-md-4">
                <img src="{% static "media/img/Erasmus+.png" %}" width="100%" alt="Erasmus+">
            </div>
            <div class="col-md-4">
                <img src="{% static "media/img/movit.png" %}" width="100%" alt="Movit">
            </div>
        </div>

	</div>

	<!-- FOOTER -->
    <footer>
        <div class="row footer">
            <p class="home-footer">Copyright Add+Venture 2016.</p>
        </div>
    </footer>

</body>
</html>