<div class="modal fade" role="dialog" id="add-note">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="/add-note/">
                {% csrf_token %}
                <div class="modal-header">
                    <h2>Take a new note</h2>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" id="product"
                               placeholder="Note title" name="note-title" required>
                    </div>
                    <div class="form-group">
                        <select name="category" class="form-control">
                            {% for cat in categories %}
                                <option value="{{ cat.id }}">{{ cat.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Note content" name="note-text"
                              id="answer" cols="77%" rows="5" required></textarea>
                    </div>
                    <input type="submit" class="btn pull-right" id="btn-submit" value="Submit">
                    <button type="button" class="btn" id="btn-close" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>