<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Canvas | Add+Venture</title>

    {% load staticfiles %}
	<!-- JS -->
	<script type="text/javascript" src="{% static "js/jquery-2.2.4.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static "fonts/fonts.css" %}" charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
</head>

<body>

    {% include "header.html" %}

    <div class="container canvas-container padding-top-70">

        <div class="row padding-top-20">
            <a class="btn" id="notify-canvas-title" role="button" data-toggle="collapse" href="#collapseCanvas" aria-expanded="false" aria-controls="collapseCanvas">
                Fill in the CANVAS
            </a>
        </div>


        <div class="row collapse" id="collapseCanvas">

            <div class="col-md-6 bottom-border">

                <div class="row">
                    <p class="text-center notify-canvas-subtitle bottom-border">To Do</p>
                </div>

                <div class="row dash-idea-notify">

                    {% for notification in not_completed_not %}
                        <ul class="notifications-list-canvas">
                            <li style="list-style-image: url('/static/media/img/not-completed-task.png');"><a href="#{{ notification.id }}" data-toggle="modal" data-target="#{{ notification.id }}">You have a new question: "{{ notification.question.question_text }}". It will be saved in {{ notification.question.canvas_category.name }} field.</a></li>
                        </ul>

                        <!-- Notifications modal -->
                        <div class="modal fade" role="dialog" id="{{ notification.id }}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form method="post" action="/dashboard/save-answer/">
                                        {% csrf_token %}
                                        <div class="modal-header">
                                            <input class="col-md-1 canvas-question" type="text" name="question_id" value="{{ notification.question.id }}" hidden>
                                            <h4><b><input class="col-md-12 canvas-question" type="text" name="question" value="{{ notification.question.question_text }}" disabled></b></h4>
                                        </div>
                                        <div class="modal-body">
                                            <textarea name="answer" id="answer" cols="77%" rows="5" maxlength="140"></textarea>
                                            <p style="color: #b5b5b5"><i>Note: all answers are limited to 140 characters</i></p>
                                            <input type="submit" class="btn pull-right" id="btn-submit" value="Submit">
                                            <button type="button" class="btn" id="btn-close" data-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>

            <div class="col-md-6 bottom-border">

                <div class="row">
                    <p class="text-center notify-canvas-subtitle bottom-border">Done</p>
                </div>

                <div class="row dash-idea-notify">

                    {% for notification in completed_not %}
                        <ul class="notifications-list-canvas">
                            <li style="list-style-image: url('/static/media/img/completed-task.png');"><a href="#">You answered on a question: "{{ notification.question.question_text }}". You can edit it from your Canvas.</a></li>
                        </ul>
                    {% endfor %}

                </div>
            </div>

        </div>

        <div class="row canvas-row">
            <div class="col-md-2 problem side-borders no-padding">
                <a class = "a-color" href="/notes/problem/">
                    <p class="canvas-title">PROBLEM</p>
                </a>
                {% for p in problem %}
                    <a class = "a-color" href="#{{ p.id }}" data-toggle="modal" data-target="#{{ p.id }}">
                        <p class="answer">{{ p.answer }}</p>
                    </a>
                {% endfor %}

            </div>

            <div class="col-md-2 canvas-wrapper-1 side-borders no-padding">
                <div class="col-md-12 solution no-padding">
                <a class = "a-color" href="/notes/solution/">
                    <p class="canvas-title">SOLUTION</p>
                </a>
                    {% for p in solution %}
                    <a class = "a-color"  href="#{{ p.id }}" data-toggle="modal" data-target="#{{ p.id }}">
                        <p class="answer">{{ p.answer }}</p>
                    </a>
                {% endfor %}
                </div>

                <div class="col-md-12 key-indicators border-top no-padding">
                    {% if user.id_track.name == "Project Development" %}
                        <a class = "a-color"  href="/notes/key-indicators/">
                            <p class="canvas-title">KEY INDICATORS</p>
                        </a>
                    {% else %}
                        <a class = "a-color"  href="/notes/key-indicators/">
                            <p class="canvas-title">КЕY METRICS</p>
                        </a>
                    {% endif %}
                    {% for p in key_indicators %}
                    <a class = "a-color"  href="#{{ p.id }}" data-toggle="modal" data-target="#{{ p.id }}">
                        <p class="answer">{{ p.answer }}</p>
                    </a>
                {% endfor %}
                </div>
            </div>

            <div class="col-md-3 unique side-borders no-padding">
                {% if user.id_track.name == "Project Development" %}
                        <a class = "a-color" href="/notes/project-goals-s/">
                            <p class="canvas-title">PROJECT GOAL/S</p>
                        </a>
                {% else %}
                <a class = "a-color" href="/notes/project-goals/s/">
                    <p class="canvas-title">UNIQUE VALUE PROPOSITION</p>
                </a>
                {% endif %}
                {% for p in project_goal %}
                    <a class = "a-color"  href="#{{ p.id }}" data-toggle="modal" data-target="#{{ p.id }}">
                        <p class="answer">{{ p.answer }}</p>
                    </a>
                {% endfor %}
            </div>

            <div class="col-md-3 canvas-wrapper-2 side-borders no-padding">
                <div class="col-md-12 unfair no-padding">
                    <a class = "a-color"  href="/notes/unfair-advantage/">
                        <p class="canvas-title">UNFAIR ADVANTAGE</p>
                    </a>
                    {% for p in unfair_advantage %}
                    <a class = "a-color"  href="#{{ p.id }}" data-toggle="modal" data-target="#{{ p.id }}">
                        <p class="answer">{{ p.answer }}</p>
                    </a>
                {% endfor %}
                </div>

                <div class="col-md-12 channels border-top no-padding">
                    <a  class = "a-color" href="/notes/channels/">
                        <p class="canvas-title">CHANNELS</p>
                    </a>
                    {% for p in channels %}
                    <a class = "a-color"  href="#{{ p.id }}" data-toggle="modal" data-target="#{{ p.id }}">
                        <p class="answer">{{ p.answer }}</p>
                    </a>
                {% endfor %}
                </div>
            </div>

            <div class="col-md-2 target-group no-padding">
                {% if user.id_track.name == "Project Development" %}
                    <a class = "a-color"  href="/notes/target-group/">
                        <p class="canvas-title">TARGET GROUP</p>
                    </a>
                {% else %}
                    <a class = "a-color"  href="/notes/target-group/">
                        <p class="canvas-title">CUSTOMER SEGMENT</p>
                    </a>
                {% endif %}
                {% for p in target_group %}
                    <a class = "a-color"  href="#{{ p.id }}" data-toggle="modal" data-target="#{{ p.id }}">
                        <p class="answer">{{ p.answer }}</p>
                    </a>
                {% endfor %}
            </div>

        </div>

        <div class="row bottom-row margin-bottom-100">
            <div class="col-md-5 cost side-borders no-padding">
                <a class = "a-color"  href="/notes/cost-structure/">
                    <p class="canvas-title">COST STRUCTURE</p>
                </a>
                {% for p in cost_structure %}
                    <a class = "a-color"  href="#{{ p.id }}" data-toggle="modal" data-target="#{{ p.id }}">
                        <p class="answer">{{ p.answer }}</p>
                    </a>
                {% endfor %}
            </div>

            <div class="col-md-7 funding side-borders no-padding">
                {% if user.id_track.name == "Project Development" %}
                <a class = "a-color"  href="/notes/means-of-funding/">
                    <p class="canvas-title">MEANS OF FUNDING</p>
                </a>
                {% else %}
                <a class = "a-color"  href="/notes/revenue-streams/">
                    <p class="canvas-title">REVENUE STREAMS</p>
                </a>
                {% endif %}
                {% for p in means_of_funding %}
                    <a class = "a-color" href="#{{ p.id }}" data-toggle="modal" data-target="#{{ p.id }}">
                        <p class="answer">{{ p.answer }}</p>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>


    <div class="col-md-12">
        {% for answer in all_answers %}
           <!-- <ul>
                <li><a href="#{{ answer.id }}" data-toggle="modal" data-target="#{{ answer.id }}">You have a new question from {{ answer.question.lesson.lesson_category.name }} chapter</a></li>
            </ul> -->
            <!-- Notifications modal -->
            <div class="modal fade" role="dialog" id="{{ answer.id }}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form method="post" action="/dashboard/edit-answer/{{ answer.id }}/">
                            {% csrf_token %}
                            <div class="modal-header">
                                <input class="col-md-1 canvas-question" type="text" name="question_id" value="{{ answer.question.id }}" hidden>
                                <h4><b><input class="col-md-12 canvas-question" type="text" name="question" value="{{ answer.question.question_text }}" disabled></b></h4>
                            </div>
                            <div class="modal-body">
                                <textarea name="answer" id="answer" cols="77%" rows="5" maxlength="140">{{ answer.answer }}</textarea>
                                <p style="color: #b5b5b5"><i>Note: all answers are limited to 140 characters</i></p>
                                <input type="submit" class="btn pull-right" id="btn-submit" value="Update">
                                <button type="button" class="btn" id="btn-close" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- add-note modal -->
    {% include "add_note_modal.html" %}

    <!-- FOOTER -->

    {% include 'footer-logged.html' %}

</body>
</html>