<!DOCTYPE html>
<html lang="en" xmlns:border="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="UTF-8">
    <title>Dashboard Add+Venture</title>

    {% load staticfiles %}

	<!-- JS -->
	<script type="text/javascript" src="{% static "js/jquery-2.2.4.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script>
        $(document).ready(function(){
            $('.myTlpSearch').tooltip({title: "Search", container:".myTlpSearch", padding:0, placement:"auto"});
            $('.myTlpShare').tooltip({title: "Share", container:".myTlpShare", padding:0});
            $('.myTlpDelete').tooltip({title: "Delete", container:".myTlpDelete", padding:0});
            $('.myTlpPW').tooltip({title: "Previous work", container:".myTlpPW", padding:0});
            $("#btn-notes").fadeIn(400).fadeOut(400).fadeIn(400).fadeOut(400).fadeIn(400).fadeOut(400).fadeIn(400).fadeOut(400).fadeIn(400).fadeOut(400).fadeIn(400);
        });
    </script>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static "fonts/fonts.css" %}" charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">


</head>
<body>

    <!-- HEADER -->
	{% include 'header.html' %}

	<!-- BODY -->
	<div class="container padding-top-100 margin-bottom-75">

        <div class="row">

			<div class="col-md-3 box-shadow box-margin" style="min-height: 330px">

				<div class="row">
					<div class="col-md-8">
						<h2>Profile</h2>
					</div>
					<div class="col-md-4">
						<a href="{{ user.ln_link }}" target="_blank" class="fa fa-linkedin-square pull-right soc-net"></a>
						<a href="{{ user.fb_link }}" target="_blank" class="fa fa-facebook-square pull-right soc-net"></a>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
                        {% if user.img_path.url != "" %}
						    <img src="{{ user.img_path.url }}" class="profile-image">
                        {% else %}
                            <img src="" class="profile-image">
                        {% endif %}
					</div>
					<div class="col-md-8 padding-left-25">
						<h3 class="user-title">{{ user.name }} {{ user.surname  }}</h3>
						<p>{{ user.city }}, {{ user.state }}</p>
						<p>{{ user.age }} years old</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<p><strong>Skills</strong></p>
					</div>
					<div class="col-md-12">
                        {% for skill in skills %}
						    <span> {{ skill.name }}, </span>
                        {% endfor %}
					</div>
				</div>

			</div> <!-- END 1.COLUMN 1.ROW  -->

			<div class="col-md-5 box-margin">

				<div class="row box-shadow" style="min-height: 220px">
					<div class="col-md-9">
						<h2>Idea - {{ track.answer1 }}</h2>
					</div>
                    <div class="col-md-3">
                        <button class="btn pull-right" id="btn-hash">{{ track.tag }}</button>
                    </div>
					<div class="col-md-12">
						<p><b>What problem are you solving?</b> {{ track.answer2 }}</p>
						<p><b>What kind of products are you offering?</b>  {{ track.answer3 }}</p>
                        <p><b>Whose problem are you solving?</b>  {{ track.answer4 }}</p>
                        <span><strong>Industry: </strong>{{ industry.name }}</span>
					</div>
				</div>

                <div class="row padding-top-30">
                    <div class="col-md-2" style="margin-right: 1%"><a href="{% url 'search' %}" class="myTlpSearch">
                        <img src="{% static 'media/img/search.png' %}" width="80px" class="box-shadow">
                    </a></div>
                    <div class="col-md-2 col-md-offset-1" style="margin-right: 1%"><a href="/share/{{ username }}/{{ digits }}" class="myTlpShare">
                        <img src="{% static 'media/img/share.png' %}" width="80px" class="box-shadow">
                    </a></div>
                    <div class="col-md-2 col-md-offset-1" style="margin-right: 1%"><a href="{% url 'delete' %}" class="myTlpDelete">
                        <img src="{% static 'media/img/doc.png' %}" width="80px" class="box-shadow">
                    </a></div>

                    {#Prevoius work modal#}
                    <div class="col-md-2 col-md-offset-1">
                        <a href="#previous-work" data-toggle="modal" data-target="#previous-work" class="myTlpPW"><img src="{% static 'media/img/pw.png' %}" width="80px" class="box-shadow"></a>
                    </div>
                    <div class="modal fade" role="dialog" id="previous-work">
                        <div class="modal-dialog">
                            <div class="modal-content pw-modal">
                                <div class="row">
                                    <div class="col-md-10">
                                        <h2>Previous work</h2>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-default" data-dismiss="modal" id="btn-pw-modal">Close</button>
                                    </div>
                                </div>
                                <table class="table">
                                    {% for ref in references %}
                                    <tr>
                                        <td class="col-md-3">{{ ref.name }}</td>
                                        <td class="col-md-7">{{ ref.description }}</td>
                                        <td class="col-md-1"><a href="{{ ref.link }}" target="_blank">Link</a></td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

			</div>  <!-- END 2.COLUMN 1.ROW  -->


            <div class="col-md-3" id="exTab2">
                <h2 class="text-center box-shadow" id="notify-title">Fill in the CANVAS</h2>
                <ul class="nav nav-tabs" id="notifications-nav">
                    <li class="active notify-tabs">
                        <a href="#1" data-toggle="tab" id="tab1">To do</a>
                    </li>
                    <li class="notify-tabs">
                        <a href="#2" data-toggle="tab" id="tab2">Done</a>
                    </li>
                </ul>


                <div class="box-margin notifications-box-border">
                    <div class="tab-content">
                        <div class="tab-pane active" id="1">
                            <div class="row dash-idea-notify">
                                <div class="col-md-12">
                                    {% for notification in not_completed_not %}
                                        <ul class="notifications-list">
                                            <li style="list-style-image: url('/static/media/img/not-completed-task.png');"><a href="#{{ notification.id }}" data-toggle="modal" data-target="#{{ notification.id }}">You have a new question: "{{ notification.question.question_text }}". It will be saved in {{ notification.question.canvas_category.name }} field.</a></li>
                                        </ul>

                                        <!-- Notifications modal -->
                                        <div class="modal fade" role="dialog" id="{{ notification.id }}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <form method="post" action="/dashboard/save-answer/">
                                                        {% csrf_token %}
                                                        <div class="modal-header">
                                                            <input class="col-md-1 canvas-question" type="text" name="question_id" value="{{ notification.question.id }}" hidden>
                                                            <h4><b><input class="col-md-12 canvas-question" type="text" name="question" value="{{ notification.question.question_text }}" disabled></b></h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <textarea name="answer" id="answer" cols="77%" rows="5" maxlength="140"></textarea>
                                                            <p style="color: #b5b5b5"><i>Note: all answers are limited to 140 characters</i></p>
                                                            <input type="submit" class="btn pull-right" id="btn-submit" value="Submit">
                                                            <button type="button" class="btn" id="btn-close" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                    {% for notify in prerequisite_not %}
                                        <ul class="notifications-list">
                                            <li style="list-style-image: url('/static/media/img/completed-category.png');"><a href="/learn/{{ notify.lesson_category.name }}">{{ notify.lesson_category.name }} chapter is mandatory for you.</a></li>
                                        </ul>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="2">
                            <div class="row dash-idea-notify">
                                <div class="col-md-12">
                                    {% for notification in completed_not %}
                                        <ul class="notifications-list">
                                            <li style="list-style-image: url('/static/media/img/completed-task.png');"><a href="{% url 'canvas' %}">You answered on a question: "{{ notification.question.question_text }}". You can edit it from your Canvas.</a></li>
                                        </ul>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- END 3.COLUMN 1.ROW  -->

		</div> <!-- END 1. ROW -->



		<div class="row">

			<div class="col-md-4 box-margin">

				<div class="row second-row-height box-shadow">
					<div class="col-md-12">
						<h2>Canvas</h2>
					</div>
					<div class="col-md-12 canvas">
                        <div class="canvas-completion text-center text-completion">
                            <h2>{{ can_progress }}%</h2>
                            <span><p>completed</p></span>
                        </div>
                        <a href="{% url 'canvas' %}"><span id="canvas-span"></span></a>
					</div>
				</div>

			</div> <!-- END 1.COLUMN 2.ROW  -->


			<div class="col-md-5 second-row-height box-shadow box-margin">

				<div class="row">
					<div class="col-md-12">
						<h2>Topic progress</h2>
					</div>
					<div class="col-md-12">
                        {% for dict_item in category_progress %}
                            {{ dict_item.category }}
                            <div class="progress progress-margin-bottom">
                                <div class="progress-bar progress-bar-striped active {{ dict_item.color }}" role="progressbar"
                                aria-valuenow="{{ dict_item.progress }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ dict_item.progress }}%">
                                {{ dict_item.progress }}%
                                </div>
                            </div>
                        {% endfor %}
					</div>
				</div>

			</div>  <!-- END 2.COLUMN 2.ROW  -->

			<div class="col-md-2 second-row-height box-shadow box-margin">

				<div class="row">
					<div class="col-md-12">
						<h2>Overall progress</h2>
					</div>
					<div class="col-md-12">
						<div class="progress progress-bar-vertical">
                            <div class="progress-bar pb-complete progress-bar-striped active" role="progressbar"
                                 aria-valuenow="{{ overall_progress }}" aria-valuemin="0" aria-valuemax="100" style="height: {{ overall_progress }}%;">
                            </div>
                        </div>
                        <div><h2 style="margin-top: 200px !important;">{{ overall_progress }}%</h2></div>
					</div>
				</div>

			</div>  <!-- END 3.COLUMN 2.ROW  -->

    	</div> <!-- END 2. ROW -->

        {% if error != None and error != "" %}
            <!-- ERROR MODAL -->
            <div class="modal fade modal in" role="dialog" id="error">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="col-md-10">
                                <div class="text-center" style="font-size: 20px; margin-top: 12px"><b>Error: </b> {{ error }}</div>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-default" onclick="history.go(-1)" id="btn-pw-modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-backdrop fade in"></div>
        {% endif %}

        <!-- Add-note modal -->
        {% include "add_note_modal.html" %}

        <!-- FOOTER -->
        <footer>
            <div class="row footer">
                <div class="col-md-1 pull-left padding-top-20 padding-bottom-20">
                    <a class="btn btn-danger btn-block" id="btn-go" href="{% url 'logout' %}" role="button">Logout</a>
                </div>
                <div class="col-md-2 pull-left padding-top-20 padding-bottom-20">
                    <a class="btn btn-danger btn-block" id="btn-edit" href="{% url 'edit-profile' %}" role="button">Edit Profile</a>
                </div>

                <div class="col-md-1 pull-right padding-top-20 padding-bottom-20">
                    <a class="btn btn-danger btn-block" id="btn-notes" href="{% url 'help' %}" role="button">Help</a>
                </div>
                <div class="col-md-2 pull-right padding-top-20 padding-bottom-20">
                    <a class="btn btn-danger btn-block" id="btn-add-note" href="#add-note"
                   data-toggle="modal" data-target="#add-note"role="button">Take a note</a>
                </div>
            </div>
        </footer>

	</div>

</body>
</html>