<!DOCTYPE html>
<html lang="en" xmlns:border="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="UTF-8">
    <title>Delete profile | Add+Venture</title>

    {% load staticfiles %}

	<!-- JS -->
	<script type="text/javascript" src="{% static "js/jquery-2.2.4.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static "fonts/fonts.css" %}" charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

</head>
<body>

	<!-- BODY -->
	<div class="container padding-top-30 margin-bottom-75">

        <div class="row box-shadow margin-bottom-25">
			<div class="col-md-10">
                <h2 class="user-title-share">User - {{ user.name }} {{ user.surname  }}</h2>
			</div>
            <div class="col-md-1">
                <button class="btn pull-right margin-top-10" id="btn-delete-1" onclick="window.print()">Print</button>
            </div>
            <div class="col-md-1">
                <a class="btn pull-right margin-top-10" id="btn-delete-2" href="#delete" data-toggle="modal" data-target="#delete">Delete</a>
            </div>
        </div>

        <div class="row box-shadow padding-bottom-10">
            <div class="col-md-9">
                <h2>Idea - {{ track.answer1 }}</h2>
            </div>
            <div class="col-md-3">
                <button class="btn btn-default pull-right margin-top-10">{{ track.tag }}</button>
            </div>
            <div class="col-md-12">
                <p><b>What problem are you solving?</b> {{ track.answer2 }}</p>
                <p><b>What kind of products are you offering?</b>  {{ track.answer3 }}</p>
                <p><b>Whose problem are you solving?</b>  {{ track.answer4 }}</p>
                <span><strong>Industry: </strong>{{ industry.name }}</span>
            </div>
        </div>

		<div class="row margin-top-10 margin-bottom-25">

            <div class="container canvas-share-container">

                <div class="row canvas-row">

                    <div class="col-md-2 problem side-borders no-padding" style="min-height: 270px">
                        <p class="canvas-title">PROBLEM</p>
                        {% for p in problem %}
                            <p class="answer">{{ p.answer }}</p>
                        {% endfor %}
                    </div>

                    <div class="col-md-2 canvas-wrapper-1 side-borders no-padding" >
                        <div class="col-md-12 solution no-padding" style="min-height: 110px">
                            <p class="canvas-title">SOLUTION</p>
                            {% for p in solution %}
                            <p class="answer">{{ p.answer }}</p>
                        {% endfor %}
                        </div>

                        <div class="col-md-12 key-indicators border-top no-padding" style="min-height: 160px">
                            <p class="canvas-title">KEY INDICATORS</p>
                            {% for p in key_indicators %}
                            <p class="answer">{{ p.answer }}</p>
                        {% endfor %}
                        </div>
                    </div>

                    <div class="col-md-3 unique side-borders no-padding" style="min-height: 270px">
                        {% if user.id_track.name == "Project Development" %}
                        <p class="canvas-title">PROJECT GOAL/S</p>
                        {% else %}
                        <p class="canvas-title">UNIQUE VALUE PROPOSITION</p>
                        {% endif %}
                        {% for p in project_goal %}
                            <p class="answer">{{ p.answer }}</p>
                        {% endfor %}
                    </div>

                    <div class="col-md-3 canvas-wrapper-2 side-borders no-padding">
                        <div class="col-md-12 unfair no-padding" style="min-height: 80px">
                            <p class="canvas-title">UNFAIR ADVANTAGE</p>
                            {% for p in unfair_advantage %}
                                <p class="answer">{{ p.answer }}</p>
                            {% endfor %}
                        </div>

                        <div class="col-md-12 channels border-top no-padding" style="min-height: 190px">
                            <p class="canvas-title">CHANNELS</p>
                            {% for p in channels %}
                            <p class="answer">{{ p.answer }}</p>
                        {% endfor %}
                        </div>
                    </div>

                    <div class="col-md-2 target-group no-padding" style="min-height: 270px">
                        <p class="canvas-title">TARGET GROUP</p>
                        {% for p in target_group %}
                            <p class="answer">{{ p.answer }}</p>
                        {% endfor %}
                    </div>

                </div>

                <div class="row bottom-row">
                    <div class="col-md-5 cost side-borders no-padding" style="min-height: 130px">
                        <p class="canvas-title">COST STRUCTURE</p>
                        {% for p in cost_structure %}
                            <p class="answer">{{ p.answer }}</p>
                        {% endfor %}
                    </div>

                    <div class="col-md-7 funding side-borders no-padding" style="min-height: 130px">
                        {% if user.id_track.name == "Project Development" %}
                        <p class="canvas-title">MEANS OF FUNDING</p>
                        {% else %}
                        <p class="canvas-title">REVENUE STREAMS</p>
                        {% endif %}
                        {% for p in means_of_funding %}
                            <p class="answer">{{ p.answer }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>

    	</div> <!-- END OF CANVAS ROW -->

        <div class="row box-shadow margin-top-20">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="user-title-share">Notes</h2>
                        <hr>
                    </div>
                </div>
                {% for note in notes %}
                    <div class="row">
                        <div class="col-md-12">
                            {% if note.id_user == user %}
                                <h3>{{ note.title }}</h3>
                                <p>{{ note.id_canvas_category }}</p>
                                <p>{{ note.text }}</p>
                                <hr>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
			</div>

        </div>


        <!-- DELETE MODAL -->
        <div class="modal fade" role="dialog" id="delete">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="text-center" style="font-size: 20px">Do you want to delete your business model / project and make another one? </h2>
                    </div>
                    <div class="modal-body text-center">
                        <a type="button" class="btn btn-default" href="{% url "delete_profile" %}" id="btn-submit">Yes</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="btn-close">No</button>
                    </div>
                </div>
            </div>
        </div>

	</div>

</body>
</html>