{% for note in notes %}
    <div class="modal fade" role="dialog" id="{{ note.id }}">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="/edit-note/{{ note.id }}/">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h2>{{ note.title }}</h2>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" class="form-control" id="product"
                                   value="{{ note.title }}" name="note-title" required>
                        </div>

                        <div class="form-group">
                            <select name="category" class="form-control">
                                <option value="{{ note.return_category.id }}">{{ note.return_category.name }}</option>
                                {% for cat in categories %}
                                    {% if cat.id != note.return_category.id %}
                                        <option value="{{ cat.id }}">{{ cat.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" placeholder="Note content" name="note-text"
                                  id="answer" cols="77%" rows="5" required>{{ note.text }}</textarea>
                        </div>

                        <p style="color: #b5b5b5"><i>Note: all answers are limited to 140 characters</i></p>
                        <input type="submit" class="btn pull-right" id="btn-submit" value="Update">
                        <button type="button" class="btn" id="btn-close" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endfor %}