<footer>
    <div class="row footer">
        <div class="col-md-1 pull-left padding-top-20 padding-bottom-20">
            <a class="btn btn-danger btn-block" id="btn-back" onclick="history.go(-1)" role="button">Back</a>
        </div>

        <div class="col-md-1 pull-right padding-top-20 padding-bottom-20">
            <input class="btn btn-danger btn-block" id="btn-go" type="submit" value="Next">
        </div>
    </div>
</footer>