<footer>
    <div class="row footer">
        <div class="col-md-1 pull-left padding-top-20 padding-bottom-20" >
            <a class="btn btn-danger btn-block" id="btn-go" href="{% url 'logout' %}" role="button">Logout</a>
        </div>
        <div class="col-md-1 pull-right padding-top-20 padding-bottom-20">
            <a class="btn btn-danger btn-block" id="btn-notes" href="{% url 'help' %}" role="button">Help</a>
        </div>
        <div class="col-md-2 pull-right padding-top-20 padding-bottom-20">
            <a class="btn btn-danger btn-block" id="btn-add-note" href="#add-note"
               data-toggle="modal" data-target="#add-note"role="button">Take a note</a>
        </div>
    </div>
</footer>

<script>
    $(document).ready(function() {
        $("#btn-notes").fadeIn(400).fadeOut(400).fadeIn(400).fadeOut(400).fadeIn(400).fadeOut(400).fadeIn(400).fadeOut(400).fadeIn(400).fadeOut(400).fadeIn(400).fadeOut(400).fadeIn(400);
    });
</script>