<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Dashboard Add+Venture</title>

    {% load staticfiles %}

	<!-- JS -->
	<script type="text/javascript" src="{% static "js/jquery-2.2.4.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static "fonts/fonts.css" %}" charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">


</head>
<body>

    <!-- HEADER -->
    <header>
        <div class="row home-header">
            <div class="col-md-9 padding-top-20 padding-bottom-20"></div>
            <div class="col-md-1 padding-top-20 padding-bottom-20">
                <a class="btn btn-block" id="btn-about" href="{% url 'about' %}" role="button"><b>About</b></a>
            </div>
            <div class="col-md-1 padding-top-20 padding-bottom-20">
                <a class="btn btn-default btn-block" id="btn-login" href="{% url 'login' %}" role="button"><b>Log in</b></a>
            </div>
            <div class="col-md-1 padding-top-20 padding-bottom-20">
                <a class="btn btn-danger btn-block" id="btn-signup" href="{% url 'registration' %}" role="button"><b>Sign up</b></a>
            </div>
        </div>
    </header>

    <div class="container padding-top-100">

        <div class="row">

            <div class="col-md-8 col-md-offset-2 margin-top-20 text-center">
                <h2>Enter your email adress if you have forgotten your password.</h2>
            </div>

            <form method="post" action="/send-pass/">
                {% csrf_token %}
                    <div class="form-group">
                        <input type="email" class="form-control" id="product"
                               placeholder="Your e-mail adress" name="mail" required>
                    </div>
                    <input type="submit" class="btn pull-right" id="btn-submit" value="Submit">

            </form>

        </div>
    </div>

</body>
</html>