<header>
    <div class="row header">
        <div class="col-md-1 padding-top-20">
            <a class="btn btn-danger btn-block" id="btn-home" href="{% url 'dashboard' %}" role="button">Home</a>
        </div>
        <div class="col-md-8">
            <p class="mainTitle">add+venture</p>
        </div>
        <div class="col-md-1 padding-top-20">
            <a class="btn btn-danger btn-block" id="btn-learn" href="{% url 'learn' %}" role="button">Learn</a>
        </div>
        <div class="col-md-1 padding-top-20">
            <a class="btn btn-danger btn-block" id="btn-discover" href="/notes/all/" role="button">Notes</a>
        </div>
        <div class="col-md-1 padding-top-20">
            <a class="btn btn-danger btn-block" id="btn-canvas" href="{% url 'canvas' %}" role="button">Canvas</a>
        </div>
    </div>
</header>