<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Canvas | Add+Venture</title>

    {% load staticfiles %}
	<!-- JS -->
	<script type="text/javascript" src="{% static "js/jquery-2.2.4.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static "fonts/fonts.css" %}" charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
</head>

<body>

    {% include "header.html" %}

    <div class="container canvas-container padding-top-70">




        <div class="row">

            <div class="col-md-10 col-md-offset-1 margin-top-30 margin-bottom-10">
                <p class="help-main-title">Tutorials</p>
            </div>

            <div class="col-md-10 col-md-offset-1 box-shadow">
                <video width="100%" autoplay loop>
                  <source src="..\media\video\01_idea.mp4" type="video/mp4">
                  <source src="..\media\video\01_idea.mp4" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
                <p class="help-description">Choose whether your idea has to do with starting up a whole new business, or it entails a short term engagement such as
                    a project or one-off initiative.</p>
            </div>
            <div class="col-md-10 col-md-offset-1 box-shadow margin-top-30">
                <video width="100%" autoplay loop>
                  <source src="..\media\video\02_prerequisite.mp4" type="video/mp4">
                  <source src="..\media\video\02_prerequisite.mp4" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
                <p class="help-description">Tailor a unique pathway just for your level of knowledge, skills and competences. Use this opportunity to self-reflect and
                    answer honestly!</p>
            </div>
            <div class="col-md-10 col-md-offset-1 box-shadow margin-top-30">
                <video width="100%" autoplay loop>
                  <source src="..\media\video\03_learn.mp4" type="video/mp4">
                  <source src="..\media\video\03_learn.mp4" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
                <p class="help-description">Upon signing up you’ll be brought to your dashboard, where you can take first lessons by clicking “Learn” button.</p>
            </div>

            <div class="col-md-10 col-md-offset-1 box-shadow margin-top-30">
                <video width="100%" autoplay loop>
                  <source src="..\media\video\04_notes.mp4" type="video/mp4">
                  <source src="..\media\video\04_notes.mp4" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
                <p class="help-description">There’s a “take a note” button by which you can scribble down ideas any and every time you need to!</p>
            </div>

            <div class="col-md-10 col-md-offset-1 box-shadow margin-top-30">
                <video width="100%" autoplay loop>
                  <source src="..\media\video\05_canvas.mp4" type="video/mp4">
                  <source src="..\media\video\05_canvas.mp4" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
                <p class="help-description">You can check your CANVAS progress at any point by clicking on the CANVAS button.</p>
            </div>

            <div class="col-md-10 col-md-offset-1 box-shadow margin-top-30">
                <video width="100%" autoplay loop>
                  <source src="..\media\video\06_filling.mp4" type="video/mp4">
                  <source src="..\media\video\06_filling.mp4" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
                <p class="help-description">Fill up your CANVAS by visiting “Filling the CANVAS” section on the dashboard. The “to do” checklist has ready questions
                    for you upon completion of a topic!</p>
            </div>

            <div class="col-md-10 col-md-offset-1 box-shadow margin-top-30">
                <video width="100%" autoplay loop>
                  <source src="..\media\video\07_home.mp4" type="video/mp4">
                  <source src="..\media\video\07_home.mp4" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
                <p class="help-description">You can always get back to your dashboard, by clicking the “home” button, to see your overall progress.</p>
            </div>

            <div class="col-md-10 col-md-offset-1 box-shadow margin-top-30">
                <video width="100%" autoplay loop>
                  <source src="..\media\video\08_print.mp4" type="video/mp4">
                  <source src="..\media\video\08_print.mp4" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
                <p class="help-description">When your idea has been CANVASed, you can print it, save it and then start a whole new one from scratch!</p>
            </div>

            <div class="col-md-10 col-md-offset-1 margin-top-30">
                <p class="help-main-title">Elements</p>
            </div>

            <div class="col-md-10 col-md-offset-1 box-shadow margin-top-30">
                <p class="help-title">DASHBOARD</p>
                <img src="..\media\img\09_dash.jpg" width="100%" alt="Dashboard">
                <p class="help-description">This page has all the important information about your add+venture you need and want to be aware of at any given
                    moment. The most important one is your overall progress on the platform – going by each topic, percentage of your idea’s
                    CANVAS fulfillment and overall progress. Another important feature is “Filling the CANVAS” section. Here you can take
                    your questions in “to do” section and always be aware of what you’ve already done in “done” section.</p>
            </div>

            <div class="col-md-10 col-md-offset-1 box-shadow margin-top-30">
                <p class="help-title">'LEARN' BUTTON</p>
                <img src="..\media\img\10_learn_button.png" alt="Learn">
                <p class="help-description">The ‘Learn’ button will take you to seven topics which aim to give you resources and information in order for you to
                    successfully CANVAS your idea. It will always be placed in top right corner of your screen so you can visit it at all times.</p>
            </div>

            <div class="col-md-10 col-md-offset-1 box-shadow margin-top-30">
                <p class="help-title">RESOURCES</p>
                <img src="..\media\img\11_resources.png" width="70%" alt="Resources">
                <p class="help-description">Lessons are made out of various resources – text files, power point presentations, videos, etc. Addventure offers different
                    resources for people with different learning styles to stay interested and focused! Existing resources have been selected in
                    order to reflect and fit the biggest number of industries but it is up to you user to approach them through your particular
                    idea’s lens. All of the resources are internet based, so we encourage our users to keep exploring and discovering new approaches
                    accordingly!</p>
            </div>

            <div class="col-md-10 col-md-offset-1 box-shadow margin-top-30">
                <p class="help-title">NOTES</p>
                <img src="..\media\img\12_notes_element.png" width="70%" alt="Notes">
                <p class="help-description">By clicking on a “take a note” button at the bottom right part of your screen, you can take a note anytime, anywhere on
                    the platform! Since we believe your scribbles and notes are important part of your learning process, at the end of your
                    journey, you get them printed and/or saved along with your CANVAS and brief info about your idea.</p>
            </div>

            <div class="col-md-10 col-md-offset-1 box-shadow margin-top-30">
                <p class="help-title">FILLING THE CANVAS</p>
                <img src="..\media\img\13_fillingelemnet.jpg" width="100%" alt="Fill in the Canvas">
                <p class="help-description">There are two ways in which you can fill in the canvas. First one is by answering the questions that have been posed to
                    you in “Filling the CANVAS” section of your board. Note that only after you complete a topic, meaning confirming you
                    have gone through all the lesson in it, the questions for that topic will appear in your “to do” section on your dashboard.
                    By answering these, you will automatically fill matching elements/boxes of your CANVAS.
                    Only after you’ve answered all the “to do” questions, you can write directly into the CANVAS – editing, additionally developing,
                    or if you feel certain part of your idea belongs in another CANVAS box! We have designed existing methodology
                    based largely on CANVAS methodology and real life experience in profit and nonprofit endeavors. However, what matters,
                    is that in the end, your CANVAS has all the info we suggest, rather than that the info is necessarily being written exactly
                    where methodology envisions it.</p>
            </div>

            <div class="col-md-10 col-md-offset-1 box-shadow margin-top-30">
                <p class="help-title">SHARING</p>
                <img src="..\media\img\share.png" alt="Search">
                <p class="help-description">You can share your idea by clicking a “share” button placed in the centre of your dashboard. There are two ways you can
                    do this after you’re taken to “share” page. First one is by clicking “copy link” button. It will generate the link which you can
                    then send to anyone you wish to share your CANVAS and basic idea information with. If you need to share that information
                    in a analogue way, you can always print it by clicking “print” button which exists at “share” page alongside a “copy
                    link” one.</p>
            </div>

            <div class="col-md-10 col-md-offset-1 box-shadow margin-top-30">
                <p class="help-title">SEARCH</p>
                <img src="..\media\img\search.png" alt="Search">
                <p class="help-description">By clicking a “search” button at your dashboard, you can search fellow addventure users by name, surname, place, skill,
                    industry or tag.</p>
            </div>

            <div class="col-md-10 col-md-offset-1 box-shadow margin-top-30 margin-bottom-100">
                <p class="help-title">LANGUAGE</p>
                <p class="help-description">The platform’s official and only available language is English at the moment. However, if you feel more comfortable filling
                    the CANVAS in your native or any other language, you can most certainly do so!</p>
            </div>

        </div>

    </div>

    <!-- add-note modal -->
    {% include "add_note_modal.html" %}

    <!-- FOOTER -->

    {% include 'footer-logged.html' %}

</body>
</html>