<!DOCTYPE html>
<html>
<head>
	<title>Add+Venture</title>

    {% load staticfiles %}

	<!-- JS -->
	<script type="text/javascript" src="{% static "js/jquery-2.2.4.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static "fonts/fonts.css" %}" charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">


</head>


<body>
	<!-- HEADER -->
    <header>
        <div class="row home-header">
            <div class="col-md-9 padding-top-20 padding-bottom-20"></div>
            <div class="col-md-1 padding-top-20 padding-bottom-20">
                <a class="btn btn-block" id="btn-about" href="{% url 'about' %}" role="button"><b>About</b></a>
            </div>
            <div class="col-md-1 padding-top-20 padding-bottom-20">
                <a class="btn btn-default btn-block" id="btn-login" href="{% url 'login' %}" role="button"><b>Log in</b></a>
            </div>
            <div class="col-md-1 padding-top-20 padding-bottom-20">
                <a class="btn btn-danger btn-block" id="btn-signup" href="{% url 'registration' %}" role="button"><b>Sign up</b></a>
            </div>
        </div>
    </header>

	<!-- BODY -->
	<div class="container padding-top-100">

        <div class="row">

            <div class="col-md-3"></div>
            <div class="col-md-2 home-text-padding">
                <h1 class="home-text">Join the</h1>
            </div>

            <div class="col-md-2">
                <img src="{% static "media/img/add-venture-logo.png" %}" alt="add-venture-logo" width="100px" style="margin-left: 22px">
            </div>

            <div class="col-md-4 home-text-padding">
                <h1 class="home-text">Learning Platform</h1>
            </div>

        </div>

        <div class="row padding-top-30">

            <div class="col-md-4">
                <div class="col-md-3"><img src="{% static "media/img/1.png" %}" alt="1" width="75px"></div>
                <div class="col-md-9"><p>Gain sufficient skills about entrepreneurship and business</p></div>
            </div>
            <div class="col-md-4">
                <div class="col-md-3"><img src="{% static "media/img/2.png" %}" alt="2" width="75px"></div>
                <div class="col-md-9"><p>Develop your idea using Canvas methodology</p></div>
            </div>
            <div class="col-md-4">
                <div class="col-md-3"><img src="{% static "media/img/3.png" %}" alt="3" width="75px"></div>
                <div class="col-md-9"><p>Share, reflect and communicate your business or project initiative</p></div>
            </div>

        </div>

        <div class="row padding-top-30">

            <div class="col-md-4 col-md-offset-4">
                <p class="text-center" style="margin: 5% 0 0 -7%">watch the video:</p>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <video width="320" height="240" controls>
                  <source src="..\media\video\Add-Venture-Intro-Video-Final.mp4" type="video/mp4">
                  <source src="..\media\video\Add-Venture-Intro-Video-Final.ogg" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
            </div>

        </div>

	</div>
	
	<!-- FOOTER -->
    <footer>
        <div class="row footer">
            <p class="home-footer">Copyright Add+Venture 2016.</p>
        </div>
    </footer>

</body>
</html>