<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learn | Add+Venture</title>

    {% load staticfiles %}
	<!-- JS -->
	<script type="text/javascript" src="{% static "js/jquery-2.2.4.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static "fonts/fonts.css" %}" charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
</head>
<body>
    <!-- HEADER -->
    {% include 'header.html' %}

     <!-- BODY -->
    <div class="container margin-bottom-75 padding-top-90">

        <div class="row">

            <div class="switch">
                <a href="/learn/mission-vision">
                    <div class="col-md-2 chapter-divs box-shadow" style="border-bottom-color: #CF0A2C">
                        <img class="img-size-chapter" src="{% static "media/img/chapters/mission_vision.png" %}" alt="">
                    </div>
                    <div class="col-md-2 box-shadow progress-chapter" style="border-bottom-color: #CF0A2C">
                            <p class="progress-number" style="color: #CF0A2C">{{ mission_vision_progress }} %</p>
                    </div>
                </a>
            </div>

            {% if user.id_track.name != "Project Development" %}
                <div class="switch">
                    <a href="/learn/community-market">
                        <div class="col-md-2 chapter-divs box-shadow" style="border-bottom-color: #B8F629">
                                <img class="img-size-chapter" src="{% static "media/img/chapters/community_market.png" %}" alt="">
                        </div>
                        <div class="col-md-2 box-shadow progress-chapter" style="border-bottom-color: #B8F629">
                            <p class="progress-number" style="color: #B8F629">{{ comm_market_group_progress }} %</p>
                        </div>
                    </a>
                </div>
            {% else %}
                <div class="switch">
                    <a href="/learn/target-group">
                        <div class="col-md-2 chapter-divs box-shadow" style="border-bottom-color: #B8F629">
                            <img class="img-size-chapter" src="{% static "media/img/chapters/target_group.png" %}" alt="">
                        </div>
                        <div class="col-md-2 box-shadow progress-chapter" style="border-bottom-color: #B8F629">
                            <p class="progress-number" style="color: #B8F629">{{ target_group_progress }} %</p>
                        </div>
                    </a>
                </div>
            {% endif %}

            <div class="switch">
                <a href="/learn/communication">
                    <div class="col-md-2 chapter-divs box-shadow" style="border-bottom-color: #FFF427">
                        <img class="img-size-chapter" src="{% static "media/img/chapters/communication.png" %}" alt="">
                    </div>
                    <div class="col-md-2 box-shadow progress-chapter" style="border-bottom-color: #FFF427">
                        <p class="progress-number" style="color: #FFF427">{{ comm_progress }} %</p>
                    </div>
                </a>
            </div>

            <div class="switch">
                <a href="/learn/finances">
                    <div class="col-md-2 chapter-divs box-shadow" style="border-bottom-color: #3CA2FF">
                        <img class="img-size-chapter" src="{% static "media/img/chapters/finances.png" %}" alt="">
                    </div>
                    <div class="col-md-2 box-shadow progress-chapter" style="border-bottom-color: #3CA2FF">
                        <p class="progress-number" style="color: #3CA2FF">{{ finances_progress }} %</p>
                    </div>
                </a>
            </div>

            <div class="switch">
                <a href="/learn/leadership">
                    <div class="col-md-2 chapter-divs box-shadow" style="border-bottom-color: #F43900">
                        <img class="img-size-chapter" src="{% static "media/img/chapters/leadership.png" %}" alt="">
                    </div>
                    <div class="col-md-2 box-shadow progress-chapter" style="border-bottom-color: #F43900">
                        <p class="progress-number" style="color: #F43900">{{ leadership_progress }} %</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="row padding-bottom-20">

            {% if user.id_track.name != "Project Development" %}
                <div class="switch">
                    <a href="/learn/product-service">
                        <div class="col-md-2 chapter-divs box-shadow" style="border-bottom-color: #9E005D">
                            <img class="img-size-chapter" src="{% static "media/img/chapters/product_service.png" %}" alt="">
                        </div>
                        <div class="col-md-2 box-shadow progress-chapter" style="border-bottom-color: #9E005D">
                            <p class="progress-number" style="color: #9E005D">{{ product_service_solution_progress }} %</p>
                        </div>
                    </a>
                </div>
            {% else %}
                <div class="switch">
                    <a href="/learn/problem-solution">
                        <div class="col-md-2 chapter-divs box-shadow" style="border-bottom-color: #9E005D">
                            <img class="img-size-chapter" src="{% static "media/img/chapters/problem_solution.png" %}" alt="">
                        </div>
                        <div class="col-md-2 box-shadow progress-chapter" style="border-bottom-color: #9E005D">
                            <p class="progress-number" style="color: #9E005D">{{ problem_solution_progress }} %</p>
                        </div>
                    </a>
                </div>
            {% endif %}

            <div class="switch">
                <a href="/learn/execution">
                    <div class="col-md-2 chapter-divs box-shadow" style="border-bottom-color: #004C4A">
                        <img class="img-size-chapter" src="{% static "media/img/chapters/execution.png" %}" alt="">
                    </div>
                    <div class="col-md-2 box-shadow progress-chapter" style="border-bottom-color: #004C4A">
                        <p class="progress-number" style="color: #004C4A">{{ execution_progress }} %</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                 <div class="progress progress-learn">
                    <div class="progress-bar progress-bar-striped active pb-complete" role="progressbar"
                    aria-valuenow="{{ overall_progress }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ overall_progress }}%">
                    <p id="learn-overall-progress">{{ overall_progress }}%</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- add-note modal -->
        {% include "add_note_modal.html" %}

        <!-- FOOTER -->
        {% include 'footer-logged.html' %}

    </div>

    <script type="text/javascript">
        $('.switch').hover(function() {
            $(this).find('.chapter-divs').hide();
            $(this).find('.progress-chapter').show();
        }, function() {
            $(this).find('.progress-chapter').hide();
            $(this).find('.chapter-divs').show();
        });
    </script>
</body>
</html>