<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ lesson.title }} | Add+Venture</title>

    {% load staticfiles %}
	<!-- JS -->
	<script type="text/javascript" src="{% static "js/jquery-2.2.4.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static "fonts/fonts.css" %}" charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
</head>

<body>
    <!-- HEADER -->
    {% include 'header.html' %}

    <!-- BODY -->
    <div class="container margin-bottom-75 padding-top-100">
        {% if user.is_anonymous %}
            {% include 'logged-in.html' %}
        {% elif wrong_track == False %}
            <div class="col-md-6 col-md-offset-3 center margin-top">
                <h1>Ups! This lecture is part of a different track!</h1>
                <h2>Click <a href="{% url 'learn' %}">here</a> to return to learn page</h2>
            </div>
        {% else %}
            <!-- HEADLINE -->
            <div class="empty-row"></div>

            <div class="row">
                <div class="col-md-3">
                    <h2>{{ slug }} </h2>
                </div>
                <div class="col-md-9">
                    <h2 style="height:20px;background: #fff url({% static 'media/img/multicolor_line.png' %}) no-repeat scroll center; padding-top: 23px;"></h2><hr style="display:none;" />
                </div>
                <div class="col-md-12">
                    <h1 id="margin-top-0">{{ lesson.title }}</h1>
                </div>
            </div>

            <div class="row margin-top-20">
                <div class="col-md-6">
                    <p class="lesson-summary">{{ lesson.summary }}</p>
                </div>
                <div class="col-md-5 col-md-offset-1 resource-container box-shadow">
                    <div>
                        <h2 class="margin-bottom-10" style="font-size: 24px">Resources</h2>
                    </div>
                    <div class="row">
                        {% for content in contents %}
                            {% if content.content_type_id == 1 %}
                                <div class="col-md-3 resources">
                                    <a class="btn btn-primary" target="_blank" href="{{ content.text }}">Resource {{ forloop.counter }}</a>
                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>

            {% if completed == False %}
                <div class="row">
                    <form action="/completed/{{ r_slug }}/{{ lesson.id }}/" method="post">
                    {% csrf_token %}
                        <div class="col-md-5 col-md-offset-7 completion-div box-shadow margin-top-20">
                            <h2 class="completion-div-text">I have completed this lesson <input type="checkbox" name="lesson-completed" value="Yes"></h2>
                            <div class="col-md-4 col-md-offset-8" style="margin-bottom: 5px;">
                                <input type="submit" class="btn btn-success btn-block">
                            </div>
                        </div>
                    </form>
                </div>
            {% endif %}

        <!-- add-note modal -->
        {% include "add_note_modal.html" %}

        <!-- FOOTER -->
        {% include "footer-logged.html" %}

        {% endif %}
    </div>
</body>
</html>