<div class="col-md-2"></div>
    <div class="col-md-8 padding-top-150 text-center">
        <h2>Hello {{ user.email }}. You are logged in!</h2>
        <h3>Click <a href="/logout/">here</a> to logout and then try again.</h3>
    </div>
<div class="col-md-2"></div>

<!-- Add-note modal -->
{% include "add_note_modal.html" %}

<!-- FOOTER -->
{% include "footer-logged.html" %}