<!DOCTYPE html>
<html>
<head>
	<title>Login Add+Venture</title>

	{% load staticfiles %}
	<!-- JS -->
	<script type="text/javascript" src="{% static "js/jquery-2.2.4.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static "fonts/fonts.css" %}" charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %} ">


</head>


<body>
	<!-- BODY -->
	<div class="container margin-bottom-75">

        <div class="row">

            {% if user.is_anonymous %}

                <div class="form">
                    <div class="thumbnail"><img src="{% static "media/img/add-venture-logo.png" %}"/></div>
                        <form class="login-form" action="/login/auth/" method="post">
                            {% csrf_token %}
                            <input type="text" name="username" id="username" placeholder="E-mail"/>
                            <input type="password" name="password" id="password" placeholder="Password"/>
                            <input class="btn" id="btn-login-form" type="submit" value="Login" />
                            <a href="/forgotten-password/"><p>Forgotten password?</p></a>
                            <p class="message">Not registered? <a href="/sign-up/">Create an account</a></p>
                        </form>
                        {% if re %}
                            <p>Your username and password did not match. Please try again.</p>
                        {% endif %}
                        {{ message }}
                </div>

            {% else %}

                <div class="col-md-3"></div>
                <div class="col-md-6 text-center padding-top-100">
                    <h2>Hello {{ user.email }}. You are already logged in!</h2>
                    <h3>Click <a href="/logout/">here</a> to sign in as a different user or go to <a href="/dashboard/">dashboard</a>.</h3>
                </div>
                <div class="col-md-3"></div>

            {% endif %}


        </div>

	</div>


</body>
</html>