<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discover | Add+Venture</title>

    {% load staticfiles %}
	<!-- JS -->
	<script type="text/javascript" src="{% static "js/jquery-2.2.4.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static "fonts/fonts.css" %}" charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
</head>

<body>
    <!-- HEADER -->
    {% include 'header.html' %}

    <br><br><br><br><br><br><br><br><br><div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <h2>You have completed all the lessons!</h2>
        <h3>There is nothing else to discover on this track.</h3>
    </div>
    <div class="col-md-2"></div>

    <!-- add-note modal -->
    {% include "add_note_modal.html" %}

    <!-- FOOTER -->
    {% include 'footer-logged.html' %}

</body>
</html>