<br><br><br><br><br><br><div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <h2>You have <strong>no notes</strong> in this category!</h2>
        <h3>If you want to add one, click on the "Take a note" button</h3>
    </div>