<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Notes | Add+Venture</title>

    {% load staticfiles %}

	<!-- JS -->
	<script type="text/javascript" src="{% static "js/jquery-2.2.4.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static "fonts/fonts.css" %}" charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
</head>

<body>
     <!-- HEADER -->
    {% include 'header.html' %}

    <!-- NOTE DIVS -->
    <div class="container padding-top-100 margin-bottom-75">

        <!-- HEADLINE -->
        <div class="row">
            <div class="col-md-2">
                <h2>NOTES</h2>
            </div>
            <div class="col-md-10 ">
                <h2 style="height:20px;background: #fff url({% static 'media/img/multicolor_line.png' %}) no-repeat scroll center; padding-top: 23px;"></h2><hr style="display:none;" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 btn-group margin-top-10" data-toggle="buttons">

                {% if slug == "all" %}
                    <label class="btn col-md-1 text-center active" id="btn-radio-small" onClick="window.location = '/notes/all/';">
                        <input type="radio" style="pointer-events:none;" name="firstQuestion" autocomplete="off" value="No" checked> All
                    </label>
                {% else %}
                    <label class="btn col-md-1 text-center" id="btn-radio-small" onClick="window.location = '/notes/all/';">
                        <input type="radio" style="pointer-events:none;" name="firstQuestion" autocomplete="off" value="No" checked> All
                    </label>
                {% endif %}

                {% for cat in cats %}
                    {% if cat.name == active %}
                        <label class="btn btn-info {{ cat.col }} text-center active" id="btn-radio-small"
                               onClick="window.location = '/notes/{{ cat.slug }}/';">
                            <input type="radio" style="pointer-events:none;"
                               name="firstQuestion" autocomplete="off" value="No" checked> {{ cat.name }}
                        </label>
                    {% else %}
                        <label class="btn btn-info {{ cat.col }} text-center" id="btn-radio-small"
                               onClick="window.location = '/notes/{{ cat.slug }}/';">
                            <input type="radio" style="pointer-events:none;"
                               name="firstQuestion" autocomplete="off" value="No" checked> {{ cat.name }}
                        </label>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="row margin-top-20">
        {% for note in notes %}
            {% if note.id_canvas_category.name == "Problem" %}
                <div class="col-md-2 box-shadow active {{ css_dict.problem }}">
                    <a href="#{{ note.id }}" data-toggle="modal" data-target="#{{ note.id }}">
                        <h2 class="note-title">{{ note.title }}</h2>
                    </a>
                    <p id="note-span">{{ note.id_canvas_category }}</p>
                </div>
            {% elif  note.id_canvas_category.name == "Solution" %}
                <div class="col-md-2 box-shadow active {{ css_dict.solution }}">
                <a href="#{{ note.id }}" data-toggle="modal" data-target="#{{ note.id }}">
                    <h2 class="note-title">{{ note.title }}</h2>
                </a>
                <p id="note-span">{{ note.id_canvas_category }}</p>
            </div>
            {% elif  note.id_canvas_category.name == "Target Group" or note.id_canvas_category.name == "Customer Segment" %}
                <div class="col-md-2 box-shadow active {{ css_dict.target_group }}">
                <a href="#{{ note.id }}" data-toggle="modal" data-target="#{{ note.id }}">
                    <h2 class="note-title">{{ note.title }}</h2>
                </a>
                <p id="note-span">{{ note.id_canvas_category }}</p>
            </div>
            {% elif  note.id_canvas_category.name == "Means of Funding" or note.id_canvas_category.name == "Revenue Streams" %}
                <div class="col-md-2 box-shadow active {{ css_dict.means_of_funding }}">
                <a href="#{{ note.id }}" data-toggle="modal" data-target="#{{ note.id }}">
                    <h2 class="note-title">{{ note.title }}</h2>
                </a>
                <p id="note-span">{{ note.id_canvas_category }}</p>
            </div>
            {% elif  note.id_canvas_category.name == "Project Goal/s" or note.id_canvas_category.name == "Unique Value Proposition" %}
                <div class="col-md-2 box-shadow active {{ css_dict.project_goals }}">
                <a href="#{{ note.id }}" data-toggle="modal" data-target="#{{ note.id }}">
                    <h2 class="note-title">{{ note.title }}</h2>
                </a>
                <p id="note-span">{{ note.id_canvas_category }}</p>
            </div>
            {% elif  note.id_canvas_category.name == "Channels" %}
                <div class="col-md-2 box-shadow active {{ css_dict.channels }}">
                <a href="#{{ note.id }}" data-toggle="modal" data-target="#{{ note.id }}">
                    <h2 class="note-title">{{ note.title }}</h2>
                </a>
                <p id="note-span">{{ note.id_canvas_category }}</p>
            </div>
            {% elif  note.id_canvas_category.name == "Cost Structure" %}
                <div class="col-md-2 box-shadow active {{ css_dict.cost_structure }}">
                <a href="#{{ note.id }}" data-toggle="modal" data-target="#{{ note.id }}">
                    <h2 class="note-title">{{ note.title }}</h2>
                </a>
                <p id="note-span">{{ note.id_canvas_category }}</p>
            </div>
            {% elif  note.id_canvas_category.name == "Key Indicators" or note.id_canvas_category.name == "Key Metrics" %}
                <div class="col-md-2 box-shadow active {{ css_dict.key_indicators }}">
                <a href="#{{ note.id }}" data-toggle="modal" data-target="#{{ note.id }}">
                    <h2 class="note-title">{{ note.title }}</h2>
                </a>
                <p id="note-span">{{ note.id_canvas_category }}</p>
            </div>
            {% elif  note.id_canvas_category.name == "Unfair Advantage" %}
                <div class="col-md-2 box-shadow active {{ css_dict.unfair_advantage }}">
                <a href="#{{ note.id }}" data-toggle="modal" data-target="#{{ note.id }}">
                    <h2 class="note-title">{{ note.title }}</h2>
                </a>
                <p id="note-span">{{ note.id_canvas_category }}</p>
            </div>

            {% endif %}

        {% empty %}
            {% include "no_notes.html" %}
        {% endfor %}
        </div>

        <!-- add-note modal -->
        {% include "add_note_modal.html" %}

        <!-- add-note modal -->
        {% include "edit_note_modal.html" %}

        <!-- FOOTER -->
        {% include "footer-logged.html" %}

    </div>

</body>
</html>