<!DOCTYPE html>
<html>
<head>
	<title>Prerequisite</title>

	{% load staticfiles %}
	<!-- JS -->
	<script type="text/javascript" src="{% static "js/jquery-2.2.4.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static "fonts/fonts.css" %}" charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">

</head>


<body>

    {#	HEADER #}
		<!-- HEADER -->
    <!-- HEADER -->
    <header>
        <div class="row home-header">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <p class="mainTitle">add+venture</p>
            </div>
        </div>
    </header>

	<!-- BODY -->
	<div class="container margin-bottom-100 padding-top-100">

        {% if user.is_anonymous %}
            <!-- HEADLINE -->
            <div class="row">
                <div class="col-md-4">
                    <h2>DESIGN YOUR ADD+VENTURE PATHWAY</h2>
                </div>
                <div class="col-md-8">
                    <h2 style="height:20px;background: #fff url({% static 'media/img/multicolor_line.png' %}) no-repeat scroll center; padding-top: 23px;"></h2><hr style="display:none;" />
                </div>
            </div>


            <!-- FORM -->

            <form method="post" action="/prerequisite/next/">
                {% csrf_token %}

                {% if track.name == "Project Development" %}

                    <div class="row">

                        <div class="col-md-11 col-md-offset-1">
                            <p class="radio-description"> There are seven questions that you must answer in order to obtain the unique Add+Venture learning
                                and idea development path. Answer “No” if you feel that you could benefit from additional or all the
                                information in order to be able to perform the tasks from the question. Answer “Yes” if you are
                                confident with your level of skill, knowledge and competences related to the questions.
                            </p>
                        </div>

                        <div class="col-md-9 col-md-offset-1">
                            <p class="radio-title">Do you have a clear picture of what is your project about? (If No then the Mission/Vision chapter is
                                mandatory)</p>
                        </div>

                        <div class="col-md-2 radio-margin btn-group" data-toggle="buttons">
                            <label class="btn btn-primary col-md-6" id="btn-radio">
                                <input type="radio" name="firstQuestion" autocomplete="off" value="Yes"> Yes
                            </label>
                            <label class="btn btn-primary col-md-6 active" id="btn-radio">
                                <input type="radio" name="firstQuestion" autocomplete="off" value="No" checked> No
                            </label>
                        </div>

                    </div> <!-- END PROJECT DEVELOPMENT 1 ROW -->

                    <div class="row">

                        <div class="col-md-9 col-md-offset-1">
                            <p class="radio-title">Do you know your local circumstances? What are the needs of your target group? Have you
                                conducted any activities involving your target group so far? (If No then the Target Group chapter is
                                mandatory)</p>
                        </div>

                        <div class="col-md-2 radio-margin btn-group" data-toggle="buttons">
                            <label class="btn btn-primary col-md-6" id="btn-radio">
                                <input type="radio" name="secondQuestion" autocomplete="off" value="Yes"> Yes
                            </label>
                            <label class="btn btn-primary col-md-6 active" id="btn-radio">
                                <input type="radio" name="secondQuestion" autocomplete="off" value="No" checked> No
                            </label>
                        </div>
                    </div> <!-- END PROJECT DEVELOPMENT 2 ROW -->

                    <div class="row">

                        <div class="col-md-9 col-md-offset-1">
                            <p class="radio-title">Have you successfully communicated with your target group? (If No then the Communication chapter
                                is mandatory)</p>
                        </div>

                        <div class="col-md-2 radio-margin btn-group" data-toggle="buttons">
                            <label class="btn btn-primary col-md-6" id="btn-radio">
                                <input type="radio" name="thirdQuestion" autocomplete="off" value="Yes"> Yes
                            </label>
                            <label class="btn btn-primary col-md-6 active" id="btn-radio" for="noThird">
                                <input type="radio" name="thirdQuestion" id="noThird" autocomplete="off" value="No" checked> No
                            </label>
                        </div>
                    </div> <!-- END PROJECT DEVELOPMENT 3 ROW -->

                    <div class="row">

                        <div class="col-md-9 col-md-offset-1">
                            <p class="radio-title">Do you know what are your costs and means of funding? Have you planned your cash flow? (If No
                                then the Finances chapter is mandatory)</p>
                        </div>

                        <div class="col-md-2 radio-margin btn-group" data-toggle="buttons">
                            <label class="btn btn-primary col-md-6" id="btn-radio">
                                <input type="radio" name="fourthQuestion" autocomplete="off" value="Yes"> Yes
                            </label>
                            <label class="btn btn-primary col-md-6 active" id="btn-radio">
                                <input type="radio" name="fourthQuestion" autocomplete="off" value="No" checked> No
                            </label>
                        </div>
                    </div> <!-- END PROJECT DEVELOPMENT 4 ROW -->

                    <div class="row">

                        <div class="col-md-9 col-md-offset-1">
                            <p class="radio-title">Have you created a team that is gathered around the same goal? (If No then the Leadership chapter is
                                mandatory)</p>
                        </div>

                        <div class="col-md-2 radio-margin btn-group" data-toggle="buttons">
                            <label class="btn btn-primary col-md-6" id="btn-radio">
                                <input type="radio" name="fifthQuestion" autocomplete="off" value="Yes"> Yes
                            </label>
                            <label class="btn btn-primary col-md-6 active" id="btn-radio">
                                <input type="radio" name="fifthQuestion" autocomplete="off" value="No" checked> No
                            </label>
                        </div>
                    </div> <!-- END PROJECT DEVELOPMENT 5 ROW -->

                    <div class="row">

                        <div class="col-md-9 col-md-offset-1">
                            <p class="radio-title">Does your project fit your target group’s needs? Have you tested it? (If No then the Problem-Solution
                                chapter is mandatory)</p>
                        </div>

                        <div class="col-md-2 radio-margin btn-group" data-toggle="buttons">
                            <label class="btn btn-primary col-md-6" id="btn-radio">
                                <input type="radio" name="sixthQuestion" autocomplete="off" value="Yes"> Yes
                            </label>
                            <label class="btn btn-primary col-md-6 active" id="btn-radio">
                                <input type="radio" name="sixthQuestion" autocomplete="off" value="No" checked> No
                            </label>
                        </div>
                    </div> <!-- END PROJECT DEVELOPMENT 6 ROW -->

                    <div class="row">

                        <div class="col-md-9 col-md-offset-1">
                            <p class="radio-title">Can you manage your time and team in an effective and efficient manner? (If No then the Execution
                                chapter is mandatory)</p>
                        </div>

                        <div class="col-md-2 radio-margin btn-group" data-toggle="buttons">
                            <label class="btn btn-primary col-md-6" id="btn-radio">
                                <input type="radio" name="seventhQuestion" autocomplete="off" value="Yes"> Yes
                            </label>
                            <label class="btn btn-primary col-md-6 active" id="btn-radio">
                                <input type="radio" name="seventhQuestion" autocomplete="off" value="No" checked> No
                            </label>
                        </div>
                    </div> <!-- END PROJECT DEVELOPMENT 7 ROW -->

                {% else %}

                    <div class="row">

                        <div class="col-md-11 col-md-offset-1">
                            <p class="radio-description"> There are seven questions that you must answer in order to obtain the unique Add+Venture learning
                                and idea development path. Answer “No” if you feel that you could benefit from additional or all the
                                information in order to be able to perform the tasks from the question. Answer “Yes” if you are
                                confident with your level of skill, knowledge and competences related to the questions.
                            </p>
                        </div>

                        <div class="col-md-9 col-md-offset-1">
                            <p class="radio-title">Do you have a clear picture of what are you doing in your venture/organization? (If No then the
                                Mission/Vision chapter is mandatory)</p>
                        </div>

                        <div class="col-md-2 radio-margin btn-group" data-toggle="buttons">
                            <label class="btn btn-primary col-md-6" id="btn-radio">
                                <input type="radio" name="firstQuestion" autocomplete="off" value="Yes"> Yes
                            </label>
                            <label class="btn btn-primary col-md-6 active" id="btn-radio">
                                <input type="radio" name="firstQuestion" autocomplete="off" value="No" checked> No
                            </label>
                        </div>

                    </div> <!-- END BUSINESS MODEL DEVELOPMENT 1 ROW -->

                    <div class="row">

                        <div class="col-md-9 col-md-offset-1">
                            <p class="radio-title">Do you know your local circumstances? What are the needs of your target community? Have you had
                                any products/services delivered so far? (If No then the Community/Market chapter is mandatory)</p>
                        </div>

                        <div class="col-md-2 radio-margin btn-group" data-toggle="buttons">
                            <label class="btn btn-primary col-md-6" id="btn-radio">
                                <input type="radio" name="secondQuestion" autocomplete="off" value="Yes"> Yes
                            </label>
                            <label class="btn btn-primary col-md-6 active" id="btn-radio">
                                <input type="radio" name="secondQuestion" autocomplete="off" value="No" checked> No
                            </label>
                        </div>
                    </div> <!-- END BUSINESS MODEL DEVELOPMENT 2 ROW -->

                    <div class="row">

                        <div class="col-md-9 col-md-offset-1">
                            <p class="radio-title">Have you successfully communicated with a larger number of your users/beneficiaries? (If No then
                                the Communication chapter is mandatory)</p>
                        </div>

                        <div class="col-md-2 radio-margin btn-group" data-toggle="buttons">
                            <label class="btn btn-primary col-md-6" id="btn-radio">
                                <input type="radio" name="thirdQuestion" autocomplete="off" value="Yes"> Yes
                            </label>
                            <label class="btn btn-primary col-md-6 active" id="btn-radio">
                                <input type="radio" name="thirdQuestion" autocomplete="off" value="No" checked> No
                            </label>
                        </div>
                    </div> <!-- END BUSINESS MODEL DEVELOPMENT 3 ROW -->

                    <div class="row">

                        <div class="col-md-9 col-md-offset-1">
                            <p class="radio-title">Do you have a clear financial structure? Have you smoothly planned and utilized your resources? (If
                                No then the Finances chapter is mandatory)</p>
                        </div>

                        <div class="col-md-2 radio-margin btn-group" data-toggle="buttons">
                            <label class="btn btn-primary col-md-6" id="btn-radio">
                                <input type="radio" name="fourthQuestion" autocomplete="off" value="Yes"> Yes
                            </label>
                            <label class="btn btn-primary col-md-6 active" id="btn-radio">
                                <input type="radio" name="fourthQuestion" autocomplete="off" value="No" checked> No
                            </label>
                        </div>
                    </div> <!-- END BUSINESS MODEL DEVELOPMENT 4 ROW -->

                    <div class="row">

                        <div class="col-md-9 col-md-offset-1">
                            <p class="radio-title">Have you created a team that is gathered around the same goal? (If No then the Leadership chapter is
                                mandatory)</p>
                        </div>

                        <div class="col-md-2 radio-margin btn-group" data-toggle="buttons">
                            <label class="btn btn-primary col-md-6" id="btn-radio">
                                <input type="radio" name="fifthQuestion" autocomplete="off" value="Yes"> Yes
                            </label>
                            <label class="btn btn-primary col-md-6 active" id="btn-radio">
                                <input type="radio" name="fifthQuestion" autocomplete="off" value="No" checked> No
                            </label>
                        </div>
                    </div> <!-- END BUSINESS MODEL DEVELOPMENT 5 ROW -->

                    <div class="row">

                        <div class="col-md-9 col-md-offset-1">
                            <p class="radio-title">Does your product/service fit your community’s needs? Have you tested/proven it? (If No then the
                                Product/Service chapter is mandatory)</p>
                        </div>

                        <div class="col-md-2 radio-margin btn-group" data-toggle="buttons">
                            <label class="btn btn-primary col-md-6" id="btn-radio" >
                                <input type="radio" name="sixthQuestion" autocomplete="off" value="Yes"> Yes
                            </label>
                            <label class="btn btn-primary col-md-6 active" id="btn-radio">
                                <input type="radio" name="sixthQuestion" autocomplete="off" value="No" checked> No
                            </label>
                        </div>
                    </div> <!-- END BUSINESS MODEL DEVELOPMENT 6 ROW -->

                    <div class="row">

                        <div class="col-md-9 col-md-offset-1">
                            <p class="radio-title">Can you manage your time and team successfully? Do you consider your organization/business
                                effective and efficient? (If No then the Execution chapter is mandatory)</p>
                        </div>

                        <div class="col-md-2 radio-margin btn-group" data-toggle="buttons">
                            <label class="btn btn-primary col-md-6" id="btn-radio">
                                <input type="radio" name="seventhQuestion" autocomplete="off" value="Yes"> Yes
                            </label>
                            <label class="btn btn-primary col-md-6 active" id="btn-radio">
                                <input type="radio" name="seventhQuestion" autocomplete="off" value="No" checked> No
                            </label>
                        </div>
                    </div> <!-- END BUSINESS MODEL DEVELOPMENT 7 ROW -->

                {% endif %}

                <!-- FOOTER -->
                <footer>
                    <div class="row footer">
                        <div class="col-md-1 pull-left padding-top-20 padding-bottom-20">
                            <a class="btn btn-danger btn-block" id="btn-back" onclick="history.go(-1)" role="button">Back</a>
                        </div>

                        <div class="col-md-1 pull-right padding-top-20 padding-bottom-20">
                            <input class="btn btn-danger btn-block" id="btn-go" type="submit" value="Finish">
                        </div>
                    </div>
                </footer>

            </form>

        {% else %}

            {% include "logged-in.html" %}

        {% endif %}

	</div>

</body>
</html>