<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Notes | Add+Venture</title>

    {% load staticfiles %}

	<!-- JS -->
	<script type="text/javascript" src="{% static "js/jquery-2.2.4.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static "fonts/fonts.css" %}" charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>

<body>
     <!-- HEADER -->
    {% include 'header.html' %}

    <!-- NOTE DIVS -->
    <div class="container margin-bottom-75 padding-top-100">

        <!-- HEADLINE -->
        <div class="row">
            <div class="col-md-2">
                <h2>SEARCH</h2>
            </div>
            <div class="col-md-10 ">
                <h2 style="height:20px;background: #fff url({% static 'media/img/multicolor_line.png' %}) no-repeat scroll center; padding-top: 23px;"></h2><hr style="display:none;" />
            </div>
        </div>

        <div class="row">
            <form method="post" action="{% url 'search' %}">
                <div class="row">
                    <div class="col-md-12 btn-group margin-top-10" data-toggle="buttons">

                        <label class="btn btn-primary col-md-2 active" id="btn-radio">
                            <input type="radio" name="parameter" autocomplete="off" value="Name" checked> Name
                        </label>
                        <label class="btn btn-primary col-md-2" id="btn-radio">
                            <input type="radio" name="parameter" autocomplete="off" value="Surname"> Surname
                        </label>
                        <label class="btn btn-primary col-md-2" id="btn-radio">
                            <input type="radio" name="parameter" autocomplete="off" value="Place"> Place
                        </label>
                        <label class="btn btn-primary col-md-2" id="btn-radio">
                            <input type="radio" name="parameter" autocomplete="off" value="Skill"> Skill
                        </label>
                        <label class="btn btn-primary col-md-2" id="btn-radio">
                            <input type="radio" name="parameter" autocomplete="off" value="Industry"> Industry
                        </label>
                        <label class="btn btn-primary col-md-2" id="btn-radio">
                            <input type="radio" name="parameter" autocomplete="off" value="Tag"> Tag
                        </label>
                    </div>
                </div>

                <div class="row margin-top-20 margin-bottom-25">
                {% csrf_token %}
                    <div class="col-md-12">
                        <input type="text" class="form-control" name="search" placeholder="Search people by chosen parameter... ">
                        <input type="submit" hidden>
                    </div>

                </div>
            </form>
        </div>

        <div class="row">
            {% for user in users %}
                <div class="col-md-3 box-shadow search-box">
                    <div class="row">
                        <div class="col-md-4">
                            {% if user.img_path.url != "" %}
						    <img src="{{ user.img_path.url }}" class="search-image">
                            {% else %}
                                <img src="" class="profile-image">
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <div class="search-name">{{ user.name }} {{ user.surname }}</div>
                            <div><p>{{ user.email }}</p></div>
                            <a href="{{ user.ln_link }}" target="_blank" class="fa fa-linkedin-square soc-net-search"></a>
						    <a href="{{ user.fb_link }}" target="_blank" class="fa fa-facebook-square soc-net-search"></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- add-note modal -->
        {% include "add_note_modal.html" %}

        <!-- FOOTER -->
        {% include "footer-logged.html" %}

    </div>

</body>
</html>