<!DOCTYPE html>
<html>
<head>
	<title>Sign up - Step 3</title>

	{% load staticfiles %}
	<!-- JS -->
	<script type="text/javascript" src="{% static "js/jquery-2.2.4.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static "fonts/fonts.css" %}" charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">

</head>


<body>

    <!-- HEADER -->
    <header>
        <div class="row home-header">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <p class="mainTitle">add+venture</p>
            </div>
        </div>
    </header>

	<!-- BODY -->
	<div class="container margin-bottom-75 padding-top-100">

        {% if user.is_anonymous %}

            <!-- HEADLINE -->
            <div class="row">
                <div class="col-md-2">
                    <h2>YOUR IDEA <span style="font-size: 24px; text-align: center;">ASSESSMENT</span></h2>
                </div>
                <div class="col-md-10 ">
                    <h2 style="height:20px;background: #fff url({% static 'media/img/multicolor_line.png' %}) no-repeat scroll center; padding-top: 23px;"></h2><hr style="display:none;" />
                </div>
            </div>


            <!-- FORM -->

            <form method="post" action="/sign-up-3/next/">
                {% csrf_token %}

                <div class="row">

                    <!-- FIRST ROW -->
                    <div class="col-md-2"></div>

                    <div class="col-md-10">
                        <div class="form-group">
                            <input type="text" class="form-control" id="nameBorI" name="nameBorI" placeholder="what is the name of your business or initiative?">
                        </div>
                    </div>

                    <div class="col-md-2"></div>

                    <div class="col-md-10">
                        <div class="form-group">
                            <input type="text" class="form-control" id="what_problem" name="what_problem" placeholder="what problem are you solving?">
                        </div>
                    </div>

                    <div class="col-md-2"></div>

                    <div class="col-md-10">
                        <div class="form-group">
                            <input type="text" class="form-control" id="product" name="products" placeholder="what kind of products are you offering?">
                        </div>
                    </div>

                    <div class="col-md-2"></div>

                    <div class="col-md-10">
                        <div class="form-group">
                            <textarea class="form-control" placeholder="whose problem are you solving?" name="whose_problem" rows="4"></textarea>
                        </div>
                    </div>

                    <div class="col-md-2"></div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" id="tag" name="tag" placeholder="tag...">
                        </div>
                    </div>

                </div> <!-- END ROW -->

                <div class="row">
                    <div class="col-md-2"></div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <select class="form-control" name="industry">
                                <option>industry...</option>
                                {% for i in industry %}
                                    <option>{{ i.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div> <!-- END ROW -->

                <!-- FOOTER -->
                {% include 'footer.html' %}

            </form>

        {% else %}

            {% include "logged-in.html" %}

        {% endif %}

	</div> <!-- END CONTAINER -->

</body>
</html>