<!DOCTYPE html>
<html>
<head>
	<title>Sign up - Step 2</title>

	{% load staticfiles %}
	<!-- JS -->
	<script type="text/javascript" src="{% static "js/jquery-2.2.4.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static "fonts/fonts.css" %}" charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">

</head>


<body>

    <!-- HEADER -->
    <header>
        <div class="row home-header">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <p class="mainTitle">add+venture</p>
            </div>
        </div>
    </header>

	<!-- BODY -->
	<div class="container margin-bottom-75 padding-top-100">

        {% if user.is_anonymous %}

            <!-- HEADLINE -->
            <div class="row">
                <div class="col-md-2">
                    <h2 >PROFILE</h2>
                </div>
                <div class="col-md-10 ">
                    <h2 style="height:20px;background: #fff url({% static 'media/img/multicolor_line.png' %}) no-repeat scroll center; padding-top: 23px;"></h2><hr style="display:none;" />
                </div>
            </div>

            <!-- FORM -->

            <form method="post" action="/sign-up-2/next/">
                {% csrf_token %}

                <div class="row">

                    <div class="col-md-2"></div>

                    <div class="col-md-4">
                        <b><p class="radio-title">Do you have a team: </p></b>
                    </div>

                    <div class="col-md-6 radio-margin btn-group" data-toggle="buttons">
                        <label class="btn btn-primary col-md-2 active" id="btn-radio" for="yesRadio">
                            <input type="radio" name="team" id="yesRadio" autocomplete="off" checked>  Yes
                        </label>
                        <label class="btn btn-primary col-md-2" id="btn-radio" for="noRadio">
                            <input type="radio" name="team" id="noRadio" autocomplete="off"> No
                        </label>
                    </div>

                </div> <!-- END ROW -->

                <div class="row">

                    <div class="col-md-2"></div>

                    <div class="col-md-4">
                        <b><p class="radio-title">Is your idea a: </p></b>
                    </div>

                    <div class="col-md-6 radio-margin btn-group" data-toggle="buttons">
                        <label class="btn btn-primary col-md-5 active" id="btn-radio" for="business">
                            <input type="radio" name="track" id="business" autocomplete="off" checked value="Organizational/Business model development">Business model development
                        </label>
                        <label class="btn btn-primary col-md-5" id="btn-radio" for="initiative">
                            <input type="radio" name="track" id="initiative" autocomplete="off" value="Project Development">Project Development
                        </label>
                    </div>

                </div> <!-- END ROW -->

                <!-- FOOTER -->
                {% include 'footer.html' %}

            </form>

        {% else %}

            {% include "logged-in.html" %}

        {% endif %}

	</div>



</body>
</html>