<!DOCTYPE html>
<html>
<head>
	<title>Sign up - Step 1</title>

    <meta charset="UTF-8">

	{% load staticfiles %}
	<!-- JS -->
	<script type="text/javascript" src="{% static "js/jquery-2.2.4.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static "fonts/fonts.css" %}" charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">

</head>


<body>

    <!-- HEADER -->
    <header>
        <div class="row home-header">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <p class="mainTitle">add+venture</p>
            </div>
        </div>
    </header>

	<!-- BODY -->
	<div class="container margin-bottom-75 padding-top-100">

        <!-- HEADLINE -->
        <div class="row">
            <div class="col-md-2">
                <h2 >PROFILE</h2>
            </div>
            <div class="col-md-10 ">
                <h2 style="height:20px;background: #fff url({% static 'media/img/multicolor_line.png' %}) no-repeat scroll center; padding-top: 23px;"></h2><hr style="display:none;" />
            </div>
        </div>

        <!-- FORM -->
        <form method="post" action="/sign-up/next/" enctype="multipart/form-data">
            {% csrf_token %}

            {% if context != None and context == "delete" %}

                <!-- Template that is shown when user deletes his/her profile -->

                <div class="row">

                    <!-- FIRST ROW -->
                    <div class="col-md-2">
                        <label class="btn btn-default btn-lg btn-file" id="picture">
                            {% if user.img_path.url != "" %}
                                .JPEG <br> .PNG <input type="file" name="file" style="display: none;" value="{{ user.img_path.url }}">
                            {% else %}
                                .JPEG <br> .PNG <input type="file" name="file" style="display: none;">
                            {% endif %}
                        </label>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" name="name" placeholder="type your name..."
                                   value="{{ user.name }}">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" id="surname" name="surname" placeholder="surname..."
                                   value="{{ user.surname }}">
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" class="form-control" id="age" name="age" placeholder="type your age..."
                                   value="{{ user.age }}">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="e-mail..."
                                   value="{{ user.email }}" >
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="password" class="form-control" id="password1" name="password1" placeholder="password..."
                                   value="{{ user.password }}">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="password" class="form-control" id="password2" name="password2" placeholder="enter your password again..."
                                   value="{{ user.password }}">
                        </div>
                    </div>


                    <!-- SECOND ROW -->
                    <div class="col-md-2">
                        <div class="form-group">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="fb-link" name="fb-link" placeholder="facebook link..."
                                   value="{{ user.fb_link }}">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="linkedin-link" name="linkedin-link" placeholder="linkedin link..."
                                   value="{{ user.ln_link }}">
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" class="form-control" id="city" name="city" placeholder="city where you live..."
                                   value="{{ user.city }}">
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" class="form-control" id="state" name="state" placeholder="state..." value="{{ user.state }}">
                        </div>
                    </div>


                    <!-- THIRD ROW -->
                    <div class="col-md-2">
                        <div class="form-group">
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <select class="form-control" name="skill1">
                                {% if list_length < 1  %}
                                    <option>skill...</option>
                                {% else %}
                                    <option>{{ skills_list.0.name }}</option>
                                {% endif %}
                                <option>skill...</option>
                                {% for skill in skills %}
                                    <option>{{ skill.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <select class="form-control" name="skill2">
                                {% if list_length < 2  %}
                                    <option>skill...</option>
                                {% else %}
                                    <option>{{ skills_list.1.name }}</option>
                                {% endif %}
                                <option>skill...</option>
                                {% for skill in skills %}
                                    <option>{{ skill.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <select class="form-control" name="skill3">
                                {% if list_length < 3  %}
                                    <option>skill...</option>
                                {% else %}
                                    <option>{{ skills_list.2.name }}</option>
                                {% endif %}
                                <option>skill...</option>
                                {% for skill in skills %}
                                    <option>{{ skill.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <select class="form-control" name="skill4">
                                {% if list_length < 4  %}
                                    <option>skill...</option>
                                {% else %}
                                    <option>{{ skills_list.3.name }}</option>
                                {% endif %}
                                <option>skill...</option>
                                {% for skill in skills %}
                                    <option>{{ skill.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <select class="form-control" name="skill5">
                                {% if list_length < 5  %}
                                    <option>skill...</option>
                                {% else %}
                                    <option>{{ skills_list.4.name }}</option>
                                {% endif %}
                                <option>skill...</option>
                                {% for skill in skills %}
                                    <option>{{ skill.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <!-- FOURTH ROW -->
                    <div class="col-md-2">
                        <div class="form-group">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="project-name1" name="project-name1" placeholder="project name..."
                                   value="{{ references.0.name }}">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" id="project-description1" name="project-description1" placeholder="project decription..."
                                   value="{{ references.0.description}}" maxlength="400">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="project-link1" name="project-link1" placeholder="project link..."
                                   value="{{ references.0.link }}">
                        </div>
                    </div>

                    <!-- FIFTH ROW -->
                    <div class="col-md-2">
                        <div class="form-group">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="project-name2" name="project-name2" placeholder="project name..."
                                   value="{{ references.1.name }}">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" id="project-description2" name="project-description2" placeholder="project decription..."
                                   value="{{ references.1.description }}" maxlength="400">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="project-link2" name="project-link2" placeholder="project link..."
                                   value="{{ references.1.link }}">
                        </div>
                    </div>

                    <!-- SIXTH ROW -->
                    <div class="col-md-2">
                        <div class="form-group">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="project-name3" name="project-name3" placeholder="project name..."
                                   value="{{ references.2.name }}">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" id="project-description3" name="project-description3" placeholder="project decription..."
                                   value="{{ references.2.description }}" maxlength="400">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="project-link3" name="project-link3" placeholder="project link..."
                                   value="{{ references.2.link }}">
                        </div>
                    </div>

                </div> <!-- END ROW -->
            {% else %}

                {% if user.is_anonymous %}
                    <div class="row">

                        <!-- FIRST ROW -->
                        <div class="col-md-2">
                            <label class="btn btn-default btn-lg btn-file" id="picture" name="picture">
                                .JPEG <br> .PNG <input type="file" name="file" style="display: none;">
                            </label>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" name="name" placeholder="type your name...">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" id="surname" name="surname" placeholder="surname...">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="text" class="form-control" id="age" name="age" placeholder="type your age...">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" name="email" placeholder="e-mail..." required>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="password" class="form-control" id="password1" name="password1" placeholder="password..." required>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="password" class="form-control" id="password2" name="password2" placeholder="enter your password again..." required>
                            </div>
                        </div>


                        <!-- SECOND ROW -->
                        <div class="col-md-2">
                            <div class="form-group">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" class="form-control" id="fb-link" name="fb-link" placeholder="facebook link...">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" class="form-control" id="linkedin-link" name="linkedin-link" placeholder="linkedin link...">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="text" class="form-control" id="city" name="city" placeholder="city where you live...">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="text" class="form-control" id="state" name="state" placeholder="state...">
                            </div>
                        </div>


                        <!-- THIRD ROW -->
                        <div class="col-md-2">
                            <div class="form-group">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <select class="form-control" name="skill1">
                                    <option>skill...</option>
                                    {% for skill in skills %}
                                        <option>{{ skill.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <select class="form-control" name="skill2">
                                    <option>skill...</option>
                                    {% for skill in skills %}
                                        <option>{{ skill.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <select class="form-control" name="skill3">
                                    <option>skill...</option>
                                    {% for skill in skills %}
                                        <option>{{ skill.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <select class="form-control" name="skill4">
                                    <option>skill...</option>
                                    {% for skill in skills %}
                                        <option>{{ skill.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <select class="form-control" name="skill5">
                                    <option>skill...</option>
                                    {% for skill in skills %}
                                        <option>{{ skill.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <!-- FOURTH ROW -->
                        <div class="col-md-2">
                            <div class="form-group">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" class="form-control" id="project-name1" name="project-name1" placeholder="project name...">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" id="project-description1" name="project-description1" placeholder="project decription..." maxlength="400">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" class="form-control" id="project-link1" name="project-link1" placeholder="project link...">
                            </div>
                        </div>

                        <!-- FIFTH ROW -->
                        <div class="col-md-2">
                            <div class="form-group">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" class="form-control" id="project-name2" name="project-name2" placeholder="project name...">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" id="project-description2" name="project-description2" placeholder="project decription..." maxlength="400">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" class="form-control" id="project-link2" name="project-link2" placeholder="project link...">
                            </div>
                        </div>

                        <!-- SIXTH ROW -->
                        <div class="col-md-2">
                            <div class="form-group">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" class="form-control" id="project-name3" name="project-name3" placeholder="project name...">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" id="project-description3" name="project-description3" placeholder="project decription..." maxlength="400">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" class="form-control" id="project-link3" name="project-link3" placeholder="project link...">
                            </div>
                        </div>

                    </div> <!-- END ROW -->
                {% else %}
                    {% include "logged-in.html" %}
                {% endif %}

            {% endif %}

            {% if error != None and error != "" %}
                <!-- ERROR MODAL -->
                <div class="modal fade modal in" role="dialog" id="error">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="col-md-10">
                                    <div class="text-center" style="font-size: 20px; margin-top: 12px"><b>Error: </b> {{ error }}</div>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-default" onclick="history.go(-1)" id="btn-pw-modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-backdrop fade in"></div>
            {% endif %}

            <!-- FOOTER -->
            {% include 'footer.html' %}

        </form> <!-- END FORM -->

	</div>

</body>
</html>